[2021-01-20 08:10] turowicz opened #3 "Node Guide"
I understand the node guide is coming but would it be possible for simple bullet point steps on how to run a node in order to serve the site and also earn coins into the account / wallet?

I mean the `pocketcoind` and `pocketcoin-cli` combo.

Cheers

[2021-01-20 08:11] turowicz commented on #3
cc @pocketnetteam @iskatel56 @only1question @elliottminns

[2021-01-22 07:15] turowicz commented on #3
https://pocketnet.app/help?page=node

[2021-01-22 07:15] #3 closed

[2021-02-25 12:39] only1question opened #6 "ERROR: AcceptBlockHeader: block ... is marked invalid"
### Sometimes a node is detached from the general chain and goes into a fork. Marks incoming blocks from the chain invalid (see the log below).

[code]

[2021-02-26 23:32] pmathieu73 commented on #6
Progress is at 99.50%
Getting this in debug:
2021-02-26T23:25:52Z Available coins count 0 BestHeader: 1058485 c58a6df47a7f608a003fbc1ec71970e93f593aad3800a79654cdab9219c6ac59
2021-02-26T23:25:54Z New outbound peer connected: version: 70015, blocks=1066503, peer=751
2021-02-26T23:26:00Z New outbound peer connected: version: 70015, blocks=1066503, peer=752
2021-02-26T23:26:05Z New outbound peer conn

[2021-02-27 12:14] andyoknen commented on #6
Your log reports problems connecting the block to the chain:
`
2021-02-26T23:26:54Z ERROR: AcceptBlockHeader: block 20d687c60f5c56abf9b2a4d352fa88bc58989af543533b5841c6da46db12bfa0 is marked invalid
`

Firstly you need to update to the latest version of the software (currently it is 0.19.2)
After update launch the node and try to reconnect the problematic blocks with the **reconsiderblock** comman

[2021-03-01 07:54] only1question commented on #6
Yes, if find the first block marked invalid in the log file. And execute the command in the console `reconsiderblock  <hash_block>`. The blockchain is being rebuilt and the problem goes away.

[2021-03-01 07:54] #6 closed

[2021-03-09 19:17] pmathieu73 opened #7 "Running pocketcoind, looks to stuck, repeating the same over and over"
Should this be happening?
This is what shows on my screen:

2021-03-09T19:05:20Z Available coins count 0 BestHeader: 100111 11332b98b5ce1929f776852fe423ea861a6da114721d97e7de41fbaf937b54e6
2021-03-09T19:05:24Z New outbound peer connected: version: 70015, blocks=1081968, peer=41
2021-03-09T19:05:25Z ERROR: AcceptBlockHeader: block 67abd15550bd2c8257c1649b310bb7394f35c56334d11491ab928f131f8b5e99 is

[2021-03-15 13:33] andyoknen commented on #7
Duplicate of #6
What is the version of your software? Does the reconsiderblock command help you?

[2021-03-15 15:45] pmathieu73 commented on #7
v0.19.2
pocketcoin-cli reconsiderblock "67abd15550bd2c8257c1649b310bb7394f35c56334d11491ab928f131f8b5e99"
This is what it looks like after reconsiderblock:
2021-03-15T15:36:48Z Available coins count 0 BestHeader: 100928 7977b281f4181265228b9a57ac2c31fe66ee8e689b063589ea38b31e83bbb976
2021-03-15T15:37:04Z Available coins count 0 BestHeader: 100928 7977b281f4181265228b9a57ac2c31fe66ee8e689b063589ea3

[2021-03-15 17:15] #7 closed

[2021-03-30 20:59] davkastheranger19 opened #9 "/Satoshi:0.19.3/"
I see some nodes now running version 0.19.3, but I don't see an official 19.3 release. Should I build 19.3 from the latest code or wait for the official full release?

[2021-03-31 10:37] andyoknen commented on #9
This is our mistake, we made the version edit in the wizard, not in the branch. We are preparing an update and will jump the version to 0.19.4

[2021-03-31 10:37] #9 closed

[2021-04-12 12:13] sexylust opened #13 "arm64 architecture support"
**Is your feature request related to a problem? Please describe.**
arm64 is becoming prevailing architecture over x64. Not only Raspberry Pi, but with Apple M1 chip it's becoming a de-facto new standard.
Some (many) users would love to use Raspberry Pi to run their nodes and given low cost it's a great and important part of the scalability and decentralization.

**Describe the solution you'd like*

[2021-04-15 14:56] davkastheranger19 opened #14 "Reducing -MaxConnection from 1000 to 865 because of system limitations."
**Describe the bug**
Reducing -MaxConnection from 1000 to 865 because of system limitations.

**To Reproduce**
Steps to reproduce the behavior:
Have config set -MaxConnection to 1000
Have system with 12GB Ram 8 Cores
Running as VM ubuntu server 20.04

Since this is a VM, I could allocate more resources to the VM, but I don't see any documentation on why the max connections is reduced and what its

[2021-04-15 15:03] davkastheranger19 opened #15 "Imported Mempool transactions from disk failed"
**Describe the bug**
Running Node on Ubuntu 20.04 and I start the server by issuing the command pocketcoind
If I need to reboot the VM or the host, I press ctrl + c to shutdown the pocketcoind app. Once it says it's done shutting down, I reboot and then reopen the VM and reissue the pocketcoind command. During the startup process, one of the steps is "Imported Mempool transactions from disk" This

[2021-04-29 15:59] andyoknen commented on #14
What kind of connections are you talking about?

[2021-04-29 16:03] andyoknen commented on #15
We are working on optimizing the work with the mempool. In any case, this is not a critical problem, since it is assumed that the nodes will not be overloaded often.

[2021-04-29 16:04] andyoknen commented on #13
We are leaning towards spreading in the future through docker. Are you considering this option? What devices do you need an arm64 for?

[2021-04-29 16:22] sexylust commented on #13
@andyoknen

In the description: Raspberry Pi. Apple M1. And I think many more to come as it's becoming more dominant architecture.

Docker is fine. I like and use it myself. But in my opinion it is a good complimentary option and not a replacement for a standalone binaries.
Not many people are capable to run simple node as instructed. I'm sure even less would be willing to deal with Docker.

[2021-04-30 16:00] davkastheranger19 commented on #15
Ok. I will ignore for now.
Thanks

[2021-04-30 16:00] #15 closed

[2021-05-12 10:28] pocketnetteam commented on #14
I meant what kind of connections are you talking about? Web socket, http or ... ?

[2021-05-17 13:04] insiderspider opened #16 "pocketcoin missing after node update"
I recently updated my pocketcoin node to the most current version and after loading the blockchain, the pocketcoin shows 0 in my node wallet. I did not delete any wallet folders, so I am not sure why it has disappeared.

I went the the BlockExplorer website and confirmed there was 277 coin in my node wallet. I just need to know how to restore it or move it to another wallet address.

[2021-05-17 17:13] insiderspider commented on #16
I found a document regarding this and ran the -zapwallettxes command to restore my wallet. All is well.

[2021-05-17 17:13] #16 closed

[2021-05-20 21:56] andyoknen opened #17 "Versioning SQLite database"
Add version setting to created database and create class for control version updating

I think good place for it - SQLiteDatabase.hpp and versionin via PRAGME or etc

[2021-06-10 12:19] andyoknen opened #19 "Network tx transfer protocol"
At the moment, the nodes exchange Pocketnet data with each other in the form of Base64(JSON String) - this is very inefficient. It is necessary to develop effective serialization/deserialization methods and expand the exchange protocol between nodes.

[2021-06-11 09:35] andyoknen opened #20 "Refactor Sqlite indexes"
We need a thorough refactoring of the database and indexes - too many extra indexes - this is time to rebuild the database.

[2021-06-29 01:11] anonnyj opened #21 "Stuck at block 1098880"
On the Windows version, I've gotten stuck at exactly block 1098880 a few times. Only noteworthy perhaps because it keeps happening at the same block.

The node application says exactly:
Number of blocks left     //          Unknown. Syncing Headers 1098880)...
Progress increase per hour  //    calculating...
estimated time left           //       unknown...

I tried following advice from other cry

[2021-06-29 15:28] #21 closed

[2021-07-05 07:28] andyoknen opened #22 "Split consensus rules for content transactions (POST, VIDEO)"
- [x] Testing
- [x] Set up limits for posts
- [x] Set up limits for videos

[2021-07-05 07:34] andyoknen opened #24 "Split HTTP server implementation"
The task is to divide the static class of the implementation of the HTTP interface, to be able to run multiple instances that serve their own routes.

https://github.com/pocketnetteam/pocketnet.core

Interested in modules:
https://github.com/pocketnetteam/pocketnet.core/blob/master/src/httpserver.h
https://github.com/pocketnetteam/pocketnet.core/blob/master/src/httprpc.h

This is a global service

[2021-07-05 07:37] andyoknen opened #25 "Automatic receipt of the SSL certificate inside the node (Let's Encrypt)"
- [ ] Initial receipt of the certificate
- [ ] Updating the certificate before the expiration date (Configuration)
- [ ] The certificate must be linked to the domain from the configuration or IP address

[2021-07-06 03:12] andyoknen opened #26 "Realize web server for static data (html, js, css, etc.)"
Frontend place here: https://github.com/pocketnetteam/pocketnet.gui

I suggest that with each release of the frontend, we collect an archive with a ready-made application for the node.

- [X] 1. Implement a web server mechanism for accessing static resources. Automatic detection of the file content type.
- [x] 2. Implement an in-memory caching mechanism.
- [ ] 3. The node must be able to update th

[2021-07-07 02:25] testtubetony opened #27 "New node wallet address where?"
A few noob questions... I followed the user guide and got my node running. It is synced up and looks to be functioning. I see it says to export my private key and save it somewhere safe, and to do this I need my wallet address. Where do I find my wallet address?
I also see the guide says I get a node setup award as I need a small balance to start earning some koin, and that I can transfer some of

[2021-07-12 14:57] #14 closed

[2021-07-15 04:15] tawmaz commented on #24
I have this mostly implemented.  I'll post a pull request as soon as I have it tested.

[2021-07-17 03:51] tawmaz commented on #24
Created pull request Feature/splithttp

[2021-07-20 11:38] andyoknen commented on #27
Welcome to the club)
I will try to answer your questions in order

To view a list of your addresses, you can, for example, use the RPC command:

This command finds all possible addresses in your wallet, and also calculates the balances on these addresses

As for the reward, we had a reward program for starting a node at the very beginning, now it has been canceled.
But we have a new incentive prog

[2021-07-23 04:53] andyoknen commented on #26
Alternatively, you can use a third-party library for step 3 - https://github.com/tfussell/miniz-cpp

The archive will be available in the releases section at the link:
https://github.com/pocketnetteam/pocketnet.gui/releases/latest/download/PocketnetNodeGui.zip

Standard path for unpacking `(GetDataDir() / "web")`

[2021-07-27 12:15] andyoknen opened #30 "Self-diagnosis"
Мысли влух.
Узел может иметь впамяти базу данных "mock" транзакций, удовлетворяющие необходимым для теста условиям - для публикации поста необходима регистрация, чтобы опубликовать больше постов нужна репутация.

В целом можно воспроизвести любую последовательность действий, имея техническую возможность к неограниченному кол-ву свободных выходов. Бд мок транзакций решает эту задачу, храня в памяти

[2021-07-30 14:09] #27 closed

[2021-08-06 10:32] andyoknen opened #32 "RPC (HTTP) cache mechanism"
We need a caching class for the RPC interface. I think it makes sense to implement only for the /public/ router and additionally for /web/ in rest.cpp the module.

There are already some makings in the module /src/pocketdb/web/PocketFrontend.h

It would be great to have such functionality in the basic version:
- [ ] Saving content on request with a time stamp
- [ ] Cache request counter (for the p

[2021-08-09 15:41] davkastheranger19 opened #33 "Updated Torrent file"
Can we get an updated torrent file? The current one is very old.

[2021-08-13 13:52] andyoknen commented on #33
Sorry for the delay, a lot of work has accumulated;)
https://github.com/pocketnetteam/pocketnet.core#initialize-blockchain-data-with-database-checkpoint

[2021-08-13 13:52] #33 closed

[2021-08-14 00:06] mcqueenorama opened #35 "Getting Error -26 (500) out of the backend often"
**Describe the bug**
UPDATE its working this morning

BLOCKED for hours now. Still can't post nor rate. Its not my browser or anything on my end.  Its browser and phone and linux app.

I can't rate anything without getting an "error -26". The ratings don't succeed.  I can't subscribe either when this happens, though the error is silent for the follow failures.  The Dev Tools shows the same 500 sti

[2021-08-14 01:08] mcqueenorama commented on #35
Here's where the error is being generated:

https://github.com/pocketnetteam/pocketnet.core/blob/fe10a28cdf8d9d70397b7c68fda89eb57ba8caf4/src/validation.cpp#L1449

I'm suspicious of `txPrev` since its not initialized.

Looking at `GetTransaction`, I can see two paths where `GetTransaction` would return without setting `txOut` which would produce a garbage value in `txPrev`

https://github.com/pock

[2021-08-14 04:46] mcqueenorama commented on #35
Here's reproduction using curl.  Its been happening for hours now.  I've switch the pocketnet proxies, and the nodes.

[code]

[2021-08-14 15:02] mcqueenorama commented on #35
It seems to be working this morning via phone and via web app.  If this is due to a daily quota, then I don't know why it throws that particular error message.  `      "message": "tx-timestamp-earlier-as-output (code 16)" `

Anyway, I've seen it before and I'm sure I'll see it again.

[2021-08-16 00:49] andyoknen commented on #35
is the correct time set on your computer? The transaction you created is really older than the input transaction it uses. The time of the node you are connecting to is correct.

It looks like this is a problem in the browser, try clearing the cache or using incognito mode for the test.
Please let us know about the results

[2021-08-16 01:13] mcqueenorama commented on #35
The time is correct on the laptop, but the problem happened when using my cell phone too.  Its not a problem with the device.  I'll try incognito mode next time I see this, though getting the same problem on my cell phone pretty strongly indicates its not the browser on my laptop.

[2021-08-16 09:40] pocketnetteam opened #36 "Consensus changes"
- [x] Reduce the number of posts for "trial" mode: 15 > 5
- [x] Reduce the number of videos for "trial" mode: 15 > 5
- [x] Reduce the number of scores for "trial" mode: 100 > 15
- [x] Add the "PRO" mode for accounts with the condition of receiving: the presence of at least 250PKOIN
- [x] Limit the number of videos for "pro" mode: = 100
- [x] Disable scores 1 and 2 for "trial" mode

[2021-08-16 09:51] pocketnetteam commented on #24
PS: The public interface (port 38081) always listens to all available addresses (0.0.0.0/0) and does not have password protection, since it does not have access to the internal critical apis of the node.

[2021-08-16 10:00] #24 closed

[2021-08-16 10:11] pocketnetteam commented on #35
That is, the problem is not permanent? How often do you observe this?

[2021-08-16 10:11] #36 closed

[2021-08-16 14:15] mcqueenorama commented on #35
Correct, it is not permanent.  I saw it for a few days, each day, and it lasted for hours.  I will watch for it to return. I have not been online much the past two days.  Here's a curious observation.  I bought some pkoin and transferred them into my pocketnet account, and there was a correlation between the days I moved my pkoin into my pocketnet account, and the days when I observed this problem

[2021-08-17 10:15] andyoknen opened #37 "v0.19.12 - Consensus changes"
Height - ?

- [ ] Disable the rule for checking the presence of an avatar for an account.
- [ ] Change the limit rule for editing a profile - It is necessary to limit N edits in T time, instead of 1 edit in 1 hour.

[2021-08-18 06:42] #22 closed

[2021-08-22 09:23] turowicz opened #38 "Docker"
It would be much easier if we could just have a `docker run` command without having to go through details of how a node operates and dealing with version updates.

Any plans for docker?

[2021-08-22 09:27] turowicz commented on #38
I have been using this previously but it needs updating to latest version - which is a hussle I'm sure you understand.

https://github.com/turowicz/pocketnet/blob/master/Dockerfile

[2021-08-22 09:27] turowicz commented on #38
cc @pocketnetteam

[2021-08-23 20:20] walkjivefly commented on #13
Even an RPi4 8Gb doesn't have enough storage to run a pocketcoin node.   I tried a couple of days ago and got an OOM within a couple of minutes of startup.

[2021-08-24 00:46] RandomKori commented on #35
I got this error too.

[2021-09-03 13:58] lostystyg commented on #25
After some research:
- Http requests to issue certificate are very simple. They are described by acme protocol and there are good examples (acme-tiny, certbot, etc). It was validated that acme-tiny and it's logic of making requests are working well, so it can be used as a good point to start.
- For using Lets Encrypt there should be a private key and certificate request generated. This key will be

[2021-09-07 17:57] nnmfnwl7 opened #39 "crypto currency helper scripts for Debian based Linux distributions and subsystems"
Hi. Im freelance developer,

Right now I am mostly focusing on helper scripts that are able to build not-only pocketcoin wallets/daemon from official source code github repositories on Debian Linux based operating systems or subsystems.

Secure run/build sandbox with firejail, Also ARM build support, easy to manual rebuild in secured sandbox...

These helper scripts are already in testing stage an

[2021-09-07 18:04] nnmfnwl7 commented on #13
Working on some build helper scripts. Build pocketcoin "default" and also "sqlite dev" version, should work on ARM architecture too. Right now only readme has been published, all other files will be published right after success testing.
More at:
https://github.com/pocketnetteam/pocketnet.core/issues/39
https://github.com/nnmfnwl7/cc.setup.helper.debian
Cheers.

[2021-09-14 18:58] SnowflakeCrusher opened #41 "Regular scheduled checkpoints needed"
There is a problem on the network that doesn't seem to have resolution. Bad nodes are influencing good nodes and making them go corrupt. As we all accept this as part of being a node operator its highly frustrating when the checkpoints are very old (over 2 weeks) and the event happened in the last 2 hours. Or what's even worse is when you are but a few hours from being fully synced and this sort o

[2021-09-14 19:10] andyoknen commented on #39
Could you describe in more detail the application scenarios of your work?

[2021-09-14 19:12] andyoknen commented on #41
I think I can use crontab to organize the daily creation of a checkpoint. There remains only the question of automatic publication somewhere in the public space - I will think about it. I will write about the progress of the work here.

[2021-09-14 20:18] SeditiousSov commented on #41
I can make you an account on my wasabi sys (S3 but not big tech) account, and give you a place to upload.  Or you can make an account for pnet team on there and upload.

https://wasabi.com/

[2021-09-14 20:25] SeditiousSov commented on #41
#!/bin/bash

export AWS_ACCESS_KEY_ID="wasabi_key"
export AWS_SECRET_ACCESS_KEY="wasabi_secret"
export AWS_DEFAULT_REGION="us-east-2"

# Wherever the pocketcoin dir is for you
cd /home/pnet/.pocketcoin
tar cvf /tmp/checkpoint.tar blocks/ chainstate/ indexes/ pocketdb/
cd /tmp
gzip checkpoint.tar
/usr/bin/aws s3 cp /tmp/checkpoint.tar.gz s3://pnetsnaps/checkpoint.tar.gz --acl public-read --endpoint

[2021-09-18 15:11] vorot93 commented on #30
А могли бы использовать MDBX, которая ACID и при этом делает mmap в ОЗУ

[2021-09-24 16:26] Linkdealer opened #51 "Can't complete full sync"
Greetings! I can't complete a full sync. Made four attempts, spent a week on it.

So what I am doing:

1) download https://3.pocketnet.app/checkpoint/pocketnet.checkpoint.latest.tgz;
2) update the data following the instructions;
3) launch the program and see that I have 99.92% synchronization and 382 blocks remain to be downloaded;
4) I let the program work, sometimes I see connections to peers a

[2021-09-26 06:16] andyoknen commented on #51
Unfortunately, 8GB of RAM is not enough to run a full-fledged node. We are working on a major update that will be released this fall - in it, the memory requirements will be greatly reduced due to the transition to a NON-in-memory database.

[2021-09-26 06:19] andyoknen commented on #38
@turowicz At the moment, the node takes a lot of RAM, which is not always convenient when using docker. We have experience building and running a node in docker and we will distribute via docker.io a little later.

[2021-09-26 06:19] #37 closed

[2021-09-26 06:22] andyoknen commented on #35
@RandomKori This problem is due to the fact that the new transaction has a timestamp older than the source of funds. This is usually due to setting the device time, the correct time zone, and resetting the cache. I

[2021-09-26 06:22] #35 closed

[2021-09-26 06:23] #32 closed

[2021-09-26 06:23] #26 closed

[2021-09-26 06:24] #38 closed

[2021-09-26 06:26] andyoknen commented on #41
@SeditiousSov Great script! There is one nuance, to archive the database, you need to stop the node - something like:

... wait node stopped ...

[2021-09-26 06:27] andyoknen commented on #51
Also, if there are synchronization problems, you must first refer to the log file - debug.log in the database directory

[2021-09-26 13:05] Linkdealer commented on #51
[debug.log](https://github.com/pocketnetteam/pocketnet.core/files/7231417/debug.log)

[2021-09-26 13:05] #51 closed

[2021-09-26 13:10] Linkdealer commented on #51
Thank you andyoknen! Will we see a new version with reduced requirements this year? And what will be the new requirements for RAM? Is there a set release date?

I am looking in the debug.log file but my knowledge of the program is not enough to determine the problem. I am attaching this file, if possible, tell me which lines should have suggested to me about the lack of RAM.
Thanks!
[debug.log](ht

[2021-09-30 19:46] Linkdealer commented on #51
Perhaps the problem with synchronization is also in the minimum number of peers and in the fact that they may not send or receive data for a long time. Is RAM to blame for this? I do not know
![2021-09-30_22-35-00](https://user-images.githubusercontent.com/91337175/135520548-f65d1a9c-2aeb-4da3-a8ea-a1e6e760f3bf.png)
.

[2021-10-02 20:45] andyoknen commented on #51
At the moment, the consumption of the RAM node is approximately 12-14GB

Now in the process of testing and final improvements of the feature/sqlite branch - RAM requirements of about 1-2 GB and SSD disk with free space of at least 50 GB in the future for the next year.

I think within a month we will start beta testing sqlite (0.20.0) version in the main network and maybe you want to participate?

[2021-10-02 23:34] Linkdealer commented on #51
Thanks for the information! I'll gladly help you with testing, but right now I don't have an SSD, only an HDD. I have already ordered a new SSD for this purpose, but I'm not sure how quickly it will be shipped.

[2021-10-03 09:09] andyoknen commented on #51
HDD will also work, but several times slower - this is due to the fact that sqlite works directly with the database file on disk, without unloading data into RAM

[2021-10-03 18:04] Linkdealer commented on #51
OK! But with an SSD it will be better, as I understand it. In any case, I am ready to help you if you need it. With SSD or not (temporarily). Give me the appropriate instructions when needed.

[2021-10-05 07:38] nnmfnwl7 commented on #39
As I am working on secured build and automatization blockchain wallets, and im also running pocketnet node, i can see very problematic for people to setup pocketcoin node(staking), also by https://github.com/pocketnetteam/pocketnet.core/releases/tag/v0.19.14 no other architectures and operating systems has been released, also testing new versions is problematic,
prepare and build wallets from sour

[2021-10-07 06:22] dmaltsiniotis opened #58 "Support request: Unable to stake pocketcoin"
Hello Pocketnet folks,

I have been operating a node for some months (since the end of June 2021) now and I am trying to track down why I cannot seem to be able to stake any pocketcoin. I think I have all configuration set up properly.

### Server details
I am operating this node a virtual Linux server, running Debian Buster (10) on kernel 4.19.194-3. I am using pocketcoind and pocketcoin-cli in a

[2021-10-08 11:51] cregist opened #61 "btcpop wallet and staking issues"
As you may know, the btcpop exchange PKOIN wallet has been under maintenance for over two weeks. According to btcpop sopport, PKOIN has suffered multiple chain splits, and currently has no available block explorer API.

Does the pocketnet team have any insights into this issue?

Thanks.

[2021-10-08 20:17] cregist commented on #61
Thanks for your answer. I'm just a little bit frustrated with the situation.

[2021-10-09 05:57] uranik777 opened #62 "prune bug"
pocketcoin.conf
`
prune=1024
`

debug.log has infinite loop:
2021-10-08T18:58:04Z init message: Pruning blockstore...
2021-10-08T19:00:01Z Prune: UnlinkPrunedFiles deleted blk/rev (00000)
2021-10-08T19:00:01Z Prune: UnlinkPrunedFiles deleted blk/rev (00001)
2021-10-08T19:00:01Z Prune: UnlinkPrunedFiles deleted blk/rev (00002)
2021-10-08T19:00:01Z Prune: UnlinkPrunedFiles deleted blk/rev (00003)
20

[2021-10-10 22:43] andyoknen commented on #61
We are negotiating with BTCPOP and we have been informed that the work has been restored. I will close this issue and return it if necessary.

[2021-10-10 22:43] #61 closed

[2021-10-10 22:54] andyoknen commented on #58
1. The stacking algorithm involves the "outputs" of your transactions. Exits are blocked when creating a block for several hours as a guarantee of your work - a PoS transaction is generated in the created block that contains your blocked funds + remuneration. The log displays information about the number of outputs available for this algorithm. The minimum allowable output size is 5 PKOIN

2. Does

[2021-10-11 02:18] dmaltsiniotis commented on #58
Interesting, thank you for the info, I'm still trying to wrap my head around the algorithm.

The address holding the coins starts with Z. At the recommendation of another node owner, I created a another wallet with the cli, and a new address, and transferred the coins from the Z address to the new one, which now starts with P. I am not sure what the difference is between the Z and P addresses.

[2021-10-12 09:30] SeditiousSov commented on #41
#!/bin/bash

export AWS_ACCESS_KEY_ID="wasabi_key"
export AWS_SECRET_ACCESS_KEY="wasabi_secret"
export AWS_DEFAULT_REGION="us-east-2"

export NODEUSER="pnet"

su - $NODEUSER -c "pocketcoin-cli stop" > /dev/null

retval="1"
while [ $retval -ne 0 ]; do
        ps aux | grep "pocketcoind" | grep -v "grep" > /dev/null
        if [[ $? -eq 1 ]]; then
                retval=0
        fi

        sleep 2

[2021-10-14 16:43] davkastheranger19 commented on #58
Do you have the above ports forwarding from your router to your node?

[2021-10-15 02:52] dmaltsiniotis commented on #58
Update:

My node was able to stake, finally, today. I think the wallet/address issues (switching from a Z to a P address) helped resolve this part of it.

The last remaining issue I have now is that `getstakinginfo` reports `"staking": false` _most_ of the time, and I'm concerned that it won't stake or I'll miss opportunities to stake if it's reporting accurately:

[code]

[2021-10-16 17:02] graebeerd commented on #41
A timestamp would be helpful too so we don't download yesterdays checkpoint (guilty)

[2021-10-18 03:13] dmaltsiniotis commented on #58
Final update: No no other changes, things have seemed to stabilized with `"staking": true,` staying on pretty consistently. I've been able to stake twice now. I believe the root cause was the incorrect address type 'Z' originally used, instead of an 'P' account-type of address. Closing this now as my original issue seems to be resolved. There remain general node stability concerns, but that's for

[2021-10-18 03:13] #58 closed, assigned to nobody

[2021-10-19 18:22] dmaltsiniotis opened #67 "Node crashes sometimes on rollback: ERROR: UndoReadFromDisk: Deserialize or I/O error 2 (23)"
**Describe the bug**
There appears to be what I assume is a bug with the block rollback part of the pocketcoind process. Every so often, all nodes I manage crash simultaneously after an "RIDB rollback" event. The nodes are located in geographically separated areas on different servers, so the issue is not hardware related, it seems to be network/protocol related or a bug in pocketcoind.

The actua

[2021-10-19 22:40] walkjivefly commented on #67
I had one of these a few days ago but didn't realise until Github notified me of this issue,
[code]
There's a VERY small chance it was associated with an attempted staking event (node collateral is too low). Recovery was indeed painful since upon restart
[code]

OS: Ubuntu 18.04
uname -a: 4.15.0-135-generic #139-Ubuntu SMP Mon Jan 18 17:38:24 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
vCPUs: 8
RAM: 3

[2021-10-21 23:56] tawmaz commented on #67
I am investigating this issue and hope to have a fix ready soon.  The bug appears to happen during serialization of transaction data to disk, and the crash will not be hit until the node attempts to switch to a longer chain and load the block transaction undo data from disk.
We are currently testing this branch on testnet which ports over the transaction serialization code from bitcoin: https://gi

[2021-10-22 02:00] dmaltsiniotis commented on #67
This is great to hear, thank you.

[2021-10-22 23:56] walkjivefly commented on #67
I haven't managed to resync my node yet. reindex-chainstate got about 12/14 done and lost connection with/banned all of it's peers. I'm trying again with a reindex but in light of today's announcement I'm wondering if it's better to simply wait for the new release on Sunday and try a clean sync from genesis?

[2021-10-25 17:19] Linkdealer opened #71 "Is there any news on the release date of version 0.20.0?"
Hi! Is there any news on the release date of version 0.20.0 (with reduced RAM requirements)? Is it possible to ask such questions in this section, or is there a more appropriate place for this? Thanks.

[2021-10-26 05:20] #67 closed, assigned to nobody

[2021-10-26 05:23] #71 closed, assigned to nobody

[2021-10-26 06:18] 611642 opened #73 "How node operators are rewarded?"
1. I see "Available coins count 11" in logs, how to claim it ?
2. How node operators are rewarded?

[2021-10-27 18:38] dmaltsiniotis opened #74 "pocketcoin-http segault. Nothing in debug.log"
Hello,

Firstly, thank you for the .17 release and addressing the serialization bug, it's a big step forward.

I think there still may be a bug around the transaction rollback process though. Myself and a number of other node operators have noticed that sometimes the pocketcoind process crashes/segaults with no error message in the debug.log file. This seems to happen kind of "randomly" and after

[2021-10-28 08:04] andyoknen opened #75 "Caching at the level of the RPC controller + repository database."
The main idea is to store in the cache not only the result of API methods with the key from the request input data - in practice it turned out that such a cache covers barely 30% of requests.

Therefore, I suggest implementing the cache deeper in API controllers and even in repositories.
Below I will show an example:

https://github.com/pocketnetteam/pocketnet.core/blob/4cdb1631b7042b5f7c818a7a407

[2021-10-29 16:19] walkjivefly opened #76 "ERROR: UndoReadFromDisk: Deserialize or I/O error 2 (24) - ReadVarInt(): size too large: iostream error"
**Problem**
v0.19.17 daemon shut itself down with the following candidate errors in debug.log:
[code]

**To Reproduce**
Unknown

**Expected behavior**
daemon should run without uncommanded shutdowns or fatal errors.

**Desktop (please complete the following information):**
 - OS: ubuntu 18.04
 - HW: 8vCPU, 32GB RAM+32GB swap
 - Version Pocketnet Core Daemon version v0.19.17.0-0a32521 (debug build)

[2021-10-29 19:42] tawmaz commented on #76
This is the same signature as the DisconnectTip/BlockUndo issue we have seen in previous versions.  In 0.19.17 we ported over the recent serialization code from Bitcoin core which replaced some suspect serialization code used in previous versions.  Since the issue is still occurring the problem must lie elsewhere in the code.

[2021-10-29 20:05] tawmaz commented on #74
I created a debug version with source symbols here for anyone who wants to assist in finding root cause for the segfault: https://github.com/tawmaz/pocketnet.core/releases/tag/v0.19.17dbg
Note this is a debug version only and will not fix any problems for your nodes. I am running it on two nodes and hopefully will have a repro soon.
I only tested in under ubuntu 20.04 LTS, found some missing depen

[2021-10-29 20:10] tawmaz commented on #74
@americanpatriotdave It is possible that the segfault is due to running out of memory.  In the case you posted it looks like the application correctly exited.  It is also possible for a memory allocation to fail and the program keeps running (because it does not perform the check to make sure is succeeded) causing a segfault.
On my production nodes I have been running 16 gig of ram with a 16 gig s

[2021-10-30 15:47] tawmaz commented on #76
I am writing a check in UndoWriteToDisk to verify the CBlockUndo data can be deserialized correctly immediately after it is written to disk, and throw a trap/int 3 if they do not match so we can break in with gdb.  The original CBlockUndo data will then be present on the stack for comparison.  Since the check is on the write path we can verify the block immediately when it is written rather than w

[2021-10-30 16:39] tawmaz opened #79 "0.19.17 Exception thrown: Univalue:get_int(): "JSON value is not an integer as expected""
I've encountered an exception in Univalue:get_int() while attempting to reproduce another issue.  The node appears to get stuck and continues throwing the same exception in a loop with the exception string printed repeatedly to debug.log.

Here is the stack trace from gdb:
[code]

[2021-10-30 17:54] tawmaz commented on #79
[code]
mtx = @0x7f42d4a499a8:
 {typ = UniValue::VOBJ, val = "", keys = std::vector of length 12, capacity 12 = {"type", "table", "txid",
    "address", "size", "time", "contentType", "data_hash", "asm", "txidEdit", "txidRepost", "dataSize"},
  values = std::vector of length 12, capacity 12 = {
{typ = UniValue::VSTR, val = "766964656f", keys = std::vector of length 0, capacity 0, values = std::vect

[2021-10-30 22:34] walkjivefly commented on #73
I did some calculations a month or two ago. iirc you need around 2700 PKOIN to average 1 stake reward per day.

[2021-10-31 12:27] tapefive commented on #74
I've been experiencing this too. Haven't checked logs, just says 'killed' in terminal. Which then requires a resync. My node only has 16GB RAM though..

[2021-10-31 14:20] americanpatriotdave commented on #74
32 GB of RAM is available to each of my nodes.  16G is used based on the "free" command running continuously

[2021-10-31 14:30] tapefive commented on #74
I've been experiencing more crashes too since upgrading to 19.17

Not sure what's going on haven't checked the logs but just says 'killed' in the terminal when I check node to see if all ok.

My node only has 16GB RAM and i'm not buying more for it so tempted to just stop running a node until a fix is implemented and Pocketnet Core doesn't require as much resource, as it's just a waste of electric

[2021-10-31 14:31] tapefive commented on #74
I'll check the logs next time it's 'killed' and share in here.

[2021-11-01 12:19] andyoknen commented on #79
Thanks! I have prepared a fix and am in the process of releasing a release.

[2021-11-01 12:19] #79 closed

[2021-11-01 12:21] andyoknen commented on #76
@tawmaz I can run a node in gdb with these developments, if necessary.

[2021-11-01 20:32] tawmaz commented on #76
I ran a node over the weekend with GDB attached but did not hit the UndoReadFromDisk error.  I think it may be necessary for the node to be actively staking to reproduce this, so I will send some coins to it and let it continue. I will plan to post a debug build this evening with the code to catch the UndoWriteToDiskError.

[2021-11-01 20:46] walkjivefly commented on #76
@tawmaz I think that may be an incorrect hypothesis. My node has a balance of less than 12 PKOIN - still hoping/waiting for the 70 PKOIN perseverance reward. It hasn't been staking for weeks because with an expected time to win in excess of 20 million there's really no point in me remembering to unlock the wallet on each restart. It absolutely was not staking when it hit the problem which prompted

[2021-11-02 01:35] tawmaz commented on #76
@walkjivefly Thanks for the datapoint regarding staking

[2021-11-02 03:20] tawmaz commented on #76
Here is the debug version with validation of CBlockUndo.  It will raise SIGTRAP if it encounters an issue so gdb will need to be attached.

[2021-11-02 20:25] americanpatriotdave commented on #74
Another silent death event.  Running 19.18.  Nothing in the debug log.  Log set to "sync" level.  nothing in syslog.  Seems like the same type of fail from 19.17.

[2021-11-02 21:22] tawmaz opened #80 "Reindexer segmentation fault"
Logging this issue here for investigation purposes.  We are moving away from Reindexer in 0.20.00, however we need to make sure this segmentation fault is not caused by something further up the stack.
This segmentation fault was captured using a debug build of 0.19.17 with gdb attached.

gdb trap:
[code]
stack:
[code]

line 265 of rpc/pocketrpc.cpp is this:
[code]

The itm argument at this point i

[2021-11-02 22:04] tawmaz commented on #74
I added debug info from the segfault which I believe is causing this issue here: https://github.com/pocketnetteam/pocketnet.core/issues/80
I think what is happening is the node is getting a http gethierarchicalposts request right before/during/after a RIBD rollback.  Likely some of the expected data is no longer there causing a segfault in reindexer.

[2021-11-03 08:11] andyoknen commented on #74
@tawmaz I think this may be true, since we did not introduce mutexes to RPC requests and internal logic of working with the chain for performance reasons.

[2021-11-03 08:12] andyoknen commented on #74
I will close this issue - I propose to continue the discussion and the results in #80

[2021-11-03 08:12] #74 closed

[2021-11-03 08:14] andyoknen commented on #62
I will close this issue - the issue of pruning is currently in the development of the concept

[2021-11-03 08:14] #62 closed

[2021-11-03 08:15] #30 closed

[2021-11-05 00:31] americanpatriotdave commented on #80
19.19 Node OOM:

2021-11-04T20:03:19Z RIDB rollback to block height 1425340 success!
2021-11-04T20:04:45Z +++ Block connected to chain: 1425341 BH: 32d6d4817e4c9d36b4d1fcd601b1b362908fa104b81216d4ebb3deb87906217e CC: 1 (25015)
2021-11-04T20:04:49Z +++ Block connected to chain: 1425342 BH: 9308b00858507717e9017aa0193d429761a48420dead5777f79503a99fc62055 CC: 0 (0)
2021-11-04T20:04:49Z BlockUntilSync

[2021-11-05 09:34] walkjivefly commented on #80
My 19.17 debug build ran fine for several days, had no reindexer message in the debug log after about 08:09 yesterday, crashed in the early hours of this morning with a SIGSEGV similar to the OP. Debug log ended with
[code]
gdb shows
[code]
The core is nearly 20GB. I don't have enough disk space for a second. I'll hang onto it for a couple of hours, then bin it and restart with 19.19 non-debug. Sh

[2021-11-05 12:57] americanpatriotdave commented on #80
Another 19.19 dead node

2021-11-05T10:58:14Z RIDB rollback to block height 1426231 success!
2021-11-05T10:58:22Z +++ Block connected to chain: 1426232 BH: b3448553eacd77b88fa6839d887d27bce52ecc34d68eff7863d0c37ec08b4cfd CC: 0 (0)
2021-11-05T10:58:42Z +++ Block connected to chain: 1426233 BH: e3c99268afd3c73f5b13c41e030bbe16797b3fd99fcf2c16308215917954b3ac CC: 0 (0)
2021-11-05T10:58:42Z Available

[2021-11-05 14:46] Magic90007 opened #81 "alpha-0.20.1 Pre-release installing question"
Via to instructions I have to copy the DB "https://3.pocketnet.app/checkpoint/pocketnet.checkpoint.sqlite.tgz"  into the folder "Linux: \.pocketcoin\checkpoints\main.sqlite3". Right? Sorry, but I cannot find ".pocketcoin" or "checkpoints" folder in my system. Could you help me plz to find the "\.pocketcoin\checkpoints\main.sqlite3"?

[2021-11-05 16:24] dmaltsiniotis commented on #80
Same issue here on the latest 0.19 version

`Pocketnet Core Daemon version v0.19.19.0-a293bf1`

[code]

[2021-11-05 16:25] dmaltsiniotis commented on #80
What is extremely interesting is that this happens _at the same time_ on multiple seemingly unrelated nodes. The timestamps for my crash and @americanpatriotdave's line up _exactly_,

[2021-11-05 18:44] SnowflakeCrusher commented on #80
I also had a similar crash this morning:
[code]

[2021-11-06 13:07] americanpatriotdave commented on #80
0.19.19 Debug from another dead node:

2021-11-06T09:19:25Z +++ Block connected to chain: 1427558 BH: 53ca5580a58bc9880d359c523e60ed673d575038d25475deff5bf906b725b1d4 CC: 0 (0)
2021-11-06T09:19:25Z RIDB rollback to block height 1427557 success!
2021-11-06T09:19:25Z RIDB rollback to block height 1427556 success!
2021-11-06T09:19:25Z 700004: Transaction RI data Not Found (e14c2f643e554fc900f143a37a0

[2021-11-06 13:24] tintin-1929 commented on #76
I've hit this several times now. I'm currently running 19.19, would it be helpful if I ran the debug version? I might need help with gdb since I'm new to linux.

Here are the logs so show what I've encountered.

2021-11-06T08:50:32Z Warning! Block generate (CheckInputs): 59b18a5a2099cebc6f9eda8d593696fab90a975741c8c6b2d0dfb3ad91d3f390
2021-11-06T08:50:33Z RIDB rollback to block height 1427528 succ

[2021-11-06 14:15] tintin-1929 commented on #81
Hi, the .pocketcoin directory is hidden so if you can try this command "cd ~/.pocketcoin" that should change the current directory to the .pocketcoin directory. This works on my debian system when I do it under the user who installed pocketnet.core. Hope this is helpful.

[2021-11-06 14:31] Oldman-Sam opened #83 "Fatal Internal Error"
Keep getting some kind of internal error in my node once in a while:

Running the newest node on Windows 10. My solution has been to redownload the the checkpoint file and replace everything. I was hoping the past few updates would fix this but it's been about 2 or so versions and I get this issue maybe once a week?

[2021-11-06 16:58] the-real-vortex-v commented on #81
Extract the .tar.gz or .tgz to ".pocketcoin\checkpoints". I got confused as well. They for some reason are talking about extracting to a directory but they are talking about the file name.

cp pocketnet.checkpoint.sqlite.tgz ~\.pocketcoin\checkpoints
cd ~\.pocketcoin\checkpoints
tar -xvf pocketnet.checkpoint.sqlite.tgz

^ - that's what you should do.

[2021-11-06 17:23] the-real-vortex-v opened #84 "Alpha v20 and v20.1 -"
Hi,
I'm using Devuan with the Alpha v20 and V20.1 source.

I've installed V20 and then V20.1 but both give the same issue.

Yes my system is woefully underpowered but I'm not getting any memory or cpu etc issues. My problem is around syncing the initial block chain. My system is an old eeeBOX with a dual core atom (32bit) and 1gb of ram. Around 860mb is useable to programs.

I get these log lines

[2021-11-06 17:25] #81 closed

[2021-11-06 18:39] tawmaz commented on #83
This is the known BlockUndo issue which we are still working on finding root cause for. It is characterized by the error message below:

ERROR: UndoReadFromDisk: Deserialize or I/O error 2 (25) - CAutoFile::read: end of file: iostream error

[2021-11-06 18:51] tawmaz commented on #83
Here is the tracking ticket for this issue:
https://github.com/pocketnetteam/pocketnet.core/issues/76

Please close as duplicate.

[2021-11-06 19:24] tawmaz commented on #76
I attempted to catch this issue on serialization of the BlockUndo data last week, but instead hit the Reindexer segfault described in issue 80.  I will try creating binary which verifies unserialize during serialize and running it to see if we can catch the issue when the Block object is still available.
I also saved the blocks from a node which crashed this morning which I will investigate to see

[2021-11-06 23:38] tawmaz commented on #76
In both cases I have observed of this issue the error occurs on decompression and deserialization of the script code.  For the incident that occurred this morning at block 1427557, the nSize value [here](https://github.com/pocketnetteam/pocketnet.core/blob/master/src/compressor.h#L80) was deserialized with a value of 69095430 (69MB)!  This causes CHashVerifier::ignore() to read past the end of the

[2021-11-07 09:31] Magic90007 opened #85 "alpha-0.20.1 got stuck"
I'm trying to run 0.20.1 first time. Linux Mint. Logs:

2021-11-07T08:32:02Z Pocketnet Core version v0.20.1.0-d168ba6 (debug build)
2021-11-07T08:32:02Z InitParameterInteraction: parameter interaction: -listen=0 -> setting -upnp=0
2021-11-07T08:32:02Z InitParameterInteraction: parameter interaction: -listen=0 -> setting -discover=0
2021-11-07T08:32:02Z InitParameterInteraction: parameter interacti

[2021-11-07 21:37] tawmaz opened #86 "Crash/Assert thrown by GetStakeReport v0.19.19"
I have found an intermittent crash of pocketcoind which occurs when calling the API GetStakeReport.  When attaching a debugger it appears and assert is failing in AssertLockHeldInternal.

Stack:

[code]

[2021-11-08 10:44] the-real-vortex-v commented on #84
An update: I played around more and I'm not getting any OOMs. I was getting crashing but I've since recompiled the source again and added the ZQM librarys and now it just silently crashes/exits with no debug info. If you want me to run gdb or what ever then let me know each step you want to take. If you want to login to a shell and try it for yourself then I'm happy to talk to you about an ssh log

[2021-11-08 19:07] the-real-vortex-v commented on #84
Final update:
It's now working. I unzipped the sql and copied the the chainstate etc files again and did a -rescan and then restarted it and it finally is now actually connecting.
I'm not running gdb anymore and it's now slowly resyncing.

+++ Block connected to chain: 1422144 BH:bdb1ff63f6221644cbb189760e8e25880b71be3112000ba9c56fb9bd39f6aa67

I don't see any error messages.

[2021-11-08 19:07] #84 closed

[2021-11-09 07:07] pocketnetteam commented on #85
Is it still going on? We have discovered a serious problem in the algorithms for generating the rating database. Update 0.20.3 is already being prepared.

[2021-11-09 07:19] pocketnetteam commented on #85
Also, the first launch after recovery from the checkpoint can take quite a lot of time (several hours) to build indexes.

[2021-11-09 07:21] #83 closed

[2021-11-09 07:23] pocketnetteam commented on #80
See #76 for the serialization error

[2021-11-09 15:21] pocketnetteam commented on #86
Is it repeating itself? Are there any instructions for playback?

[2021-11-09 16:42] #85 closed

[2021-11-10 11:19] Magic90007 opened #87 "alpha-0.20.3 got stuck"
Windows 11 logs. Something similar I also have on the Linux Mint.

0000ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
0000ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
2021-11-10T11:10:44Z Pocketnet Core version v0.20.3.0-e7aa247 (debug build)
2021-11-10T11:10:44Z InitParameterInteraction: parameter interaction: -whitelistforcerelay=1 -> setting -whitelistrelay=1
2021-

[2021-11-10 18:12] the-real-vortex-v commented on #87
Is the pocketcoind process still running? you need to give more info. What do you mean by "stuck"? This can take a long long time to do things.

[2021-11-10 18:31] the-real-vortex-v commented on #13
I've compiled the v0.20.x source on my devuan 3.0 install which is a dual core atom eeebox with 1gb of ram.
That's a 32bit system and it's working fine.
What's wrong with the ARM compile? Have you tried it from source?

[2021-11-10 18:50] Magic90007 commented on #87
Well, process isn't still running. Cause I didn't see any network activity. Isn't it normally? I saw only some processor activity without a lot of RAM memory using and without SSD activity.

[2021-11-10 19:02] the-real-vortex-v commented on #87
did you give it any peers to connect to?

[2021-11-10 20:39] Magic90007 commented on #87
"pocketcoin-cli getpeerinfo" returned me next result (windows 11):
\AppData\Local\Programs\PocketnetCore\daemon> .\pocketcoin-cli getpeerinfo
[
]

[2021-11-10 22:00] the-real-vortex-v commented on #87
you have no peers in your node's list. you need to add a peer to your node.
pocketcoin-cli addnode "ipaddress:port" onetry

You need to put the ip and port of the node to add in there.

[2021-11-11 05:24] tawmaz commented on #86
I have not observed it since.  As I recall it was an issue on nodes which were in process of syncing but not yet staking.

[2021-11-11 13:49] Magic90007 commented on #87
Thnx. Done. `.\pocketcoin-cli getpeerinfo` sometimes returns this:
`\Local\Programs\PocketnetCore\daemon> .\pocketcoin-cli getpeerinfo
[
  {
    "id": 60,
    "addr": "127.0.0.1:37071",
    "addrbind": "127.0.0.1:52490",
    "services": "0000000000000000",
    "relaytxes": false,
    "lastsend": 1636638100,
    "lastrecv": 0,
    "bytessent": 126,
    "bytesrecv": 0,
    "conntime": 1636638100,

[2021-11-11 22:47] the-real-vortex-v commented on #87
Yes. You have no peers listed in your node. 127.0.0.1 is your local host. i.e the same pc as your node is running from. I suggest you get some peers from the blockexplorer. If you don't know how to do this then you may want to wait for this software to stop being alpha and go back to the V0.19 branch.

[2021-11-13 08:12] #87 closed

[2021-11-13 12:36] Magic90007 opened #90 "v0.19.19.0-a293bf1 nothing happens for a long time"
I'm trying to sync first time (Windows 11).
Here are my logs:

2021-11-13T12:07:24Z txindex thread start
2021-11-13T12:07:24Z init message: Выполняется загрузка кошелька...
2021-11-13T12:07:24Z txindex is enabled at height 1113607
2021-11-13T12:07:24Z txindex thread exit
2021-11-13T12:07:24Z [default wallet] nFileVersion = 200500
2021-11-13T12:07:24Z [default wallet] Keys: 2001 plaintext, 0 encryp

[2021-11-13 16:11] tawmaz commented on #90
This would be expected because your node is on block 1113607 and all connected peers are on previous blocks:
[code]

I would recommend going to basyton.com/blockexplorer and expand the "PocketNet Nodes" column.  Use the following command to manually add nodes which are on the current block:
[code]
Example:
[code]

[2021-11-14 08:36] reignmen opened #91 "Node shutting itself down continously"
Node process quits with error:

2021-11-13T19:24:25Z RIDB rollback to block height 1438179 success!
2021-11-13T19:24:25Z 700004: Transaction RI data Not Found (b28886588f356077d95650660c3127bd3a3c4bfd16eddd95fcef10e60e87f560)
2021-11-13T19:24:25Z ERROR: Failed find reindexer transaction part (b28886588f356077d95650660c3127bd3a3c4bfd16eddd95fcef10e60e87f560)
2021-11-13T19:24:25Z ERROR: ConnectTip:

[2021-11-14 11:22] Magic90007 commented on #90
thnx! Looks like it helps)

[2021-11-14 11:23] #90 closed

[2021-11-14 12:29] nnmfnwl7 commented on #91
Hit same same issue:

[code]

[2021-11-14 12:45] Linkdealer opened #92 "Can't complete full sync (again) v 0.20.6"
I installed the new version 0.20.6 and again got the same problem as on version 19.x.x. details can be read in old request here: https://github.com/pocketnetteam/pocketnet.core/issues/51

Then I was told that I did not have enough RAM. Ok. Now the program starts quickly, but then it just works without any progress (as in the screenshot) for 20 hours.

How to achieve complete synchronization and fu

[2021-11-14 12:51] Linkdealer commented on #92
**from debug.log**

`2021-11-14T12:14:03Z Pocketnet Core version v0.20.6.0-3b2db87 (debug build)
2021-11-14T12:14:03Z InitParameterInteraction: parameter interaction: -whitelistforcerelay=1 -> setting -whitelistrelay=1
2021-11-14T12:14:47Z Assuming ancestors of block 13145e13c703d75d535d7415d660483dd717868654b7fdcd2e3232255ea05445 have valid signatures.
2021-11-14T12:14:47Z Setting nMinimumChainWo

[2021-11-15 12:35] Magic90007 commented on #91
v0.20.7.0-6690586. Windows 11.

`2021-11-15T12:22:28Z txindex thread start
2021-11-15T12:22:28Z txindex is enabled
2021-11-15T12:22:28Z init message: Loading wallet...
2021-11-15T12:22:28Z txindex thread exit
2021-11-15T12:22:28Z Full reindexing database. This can take several days.
2021-11-15T12:22:28Z Deleting database indexes..
2021-11-15T12:22:28Z Rollback to first block..
2021-11-15T12:22:28Z

[2021-11-15 16:03] graebeerd opened #93 "20.7"
**Describe the bug**
A clear and concise description of what the bug is.

downloaded 20.7 and the chkpnt provided. Unpacked the db into the correct directory and removed any readonly flags. Started 20.7, chkpnt file came up 6 days behind but caught up to < 1100 blacks behind in less than 1.5 hours and stuck there grinding with the following over and over.

2021-11-15T15:08:11Z ERROR: ProcessNewBlo

[2021-11-15 16:38] tawmaz commented on #93
I have a repro on this issue and am in process of investigating it.  Code 17 is for exceeding max_post_size.  It seems either a block with a post which is too large is getting past validation checks somehow and being written to disk.

[2021-11-15 19:35] the-real-vortex-v commented on #93
What's the block height?

[2021-11-15 19:37] the-real-vortex-v commented on #92
what's your peerinfo? goto the debug menu and see how many peers you have connected. Also there's a v0.20.7 now.

[2021-11-16 01:55] Linkdealer commented on #92
0 connections always. If I start loading the database from 0% (without previously downloaded file main.sqlite3), then there are peers (a lot of them (up to 8) and I see how it must work. But this last percentage I can never get to full synchronization.

[2021-11-16 06:33] tawmaz commented on #93
In addition it seems there is a User transaction at height 1441313 with no name field causing it to fail social checks in 20.7.
message:
 2021-11-16T06:18:49Z Warning: SocialConsensus 100 check transaction failed with result 11 for transaction 562235b5f0be5d577cc64069eea1f927fc0a809a3defa0778e310c8336917545
2021-11-16T06:18:49Z Warning: SocialConsensus check transaction with type:100 failed with r

[2021-11-16 08:16] Magic90007 commented on #93
I've downloaded last DB from https://3.pocketnet.app/checkpoint/pocketnet.checkpoint.sqlite.tgz .
Also I've tried to add nodes from https://bastyon.com/blockexplorer . And here are my logs (Windows 11):

`2021-11-16T08:10:07Z Pocketnet Core version v0.20.7.0-6690586 (release build)
2021-11-16T08:10:07Z InitParameterInteraction: parameter interaction: -whitelistforcerelay=1 -> setting -whitelistrel

[2021-11-16 13:27] graebeerd commented on #93
20.8 same problem, hung on the same block. Only difference was that 20.8 was able to start after shutting down but was still hung and throwing same errors as above. I'll attach the log file and a screen shot.
[20-8-debug.log](https://github.com/pocketnetteam/pocketnet.core/files/7546626/20-8-debug.log)
![20-8-error](https://user-images.githubusercontent.com/50458374/141993767-742e4235-c8c9-4a31-8a

[2021-11-16 13:47] Magic90007 commented on #93
Just tried 20.8. Now, looks like it works.

[2021-11-16 15:09] Magic90007 commented on #93
Now, I also have the same problem)

[2021-11-16 15:11] Magic90007 commented on #91
Update helps me

[2021-11-17 18:31] graebeerd commented on #93
Is  there any progress on this problem? Is there a new checkpoint available? Is there anything that can be done about this? McSwain has no problem but he's running Linux as the two people that reported the same problem here are running Windows 11

[2021-11-18 22:06] graebeerd commented on #93
I have no idea whey it is working now:

regarding 20.8 - It works now, don't know why. chksum'd the first core file and the one I dl'd 4 hours ago, same size in bytes and same md5 chksum. I also downloaded the sqlite db that was provided. I had already deleted previous dbs so I couldn't test chksum but it was 9 days behind as I would have expected the first release to be.  It took about 2 hours to

[2021-11-19 04:13] Magic90007 commented on #93
I've tried Ubuntu with 0.19.19 and it works too. I have no idea why.

[2021-11-26 06:21] andyoknen commented on #93
All the described problems have been solved by the current release 0.20.11

[2021-11-26 06:21] #93 closed

[2021-11-26 06:21] andyoknen commented on #92
All the described problems have been solved by the current release 0.20.11

[2021-11-26 06:21] #92 closed

[2021-11-26 06:23] andyoknen commented on #91
The synchronization issue has been fixed in version 0.20.*, which is in pre-release state and is being prepared for release.
I will close this issue

[2021-11-26 06:23] #91 closed

[2021-11-26 06:23] #86 closed

[2021-11-26 06:24] #80 closed

[2021-11-26 06:24] andyoknen commented on #76
The synchronization issue has been fixed in version 0.20.*, which is in pre-release state and is being prepared for release.

[2021-11-26 06:24] #76 closed

[2021-11-26 06:25] #73 closed

[2021-11-29 09:33] the-real-vortex-v commented on #75
Is this why the side panel hasn't been updating for the last month or more? I have to refresh the page in the webbrowser to get the last comments to refresh. A few months ago (At least 3) it was upto updating the comments.

[2021-11-29 13:20] the-real-vortex-v opened #95 "Node incompatibility: V0.19.19 node and V0.20.11 node are not doing much communicating."
I'm running a V0.19.19 node on a windows pc. It happily talks to and gets headers and syncs up (rather quickly) with other nodes on the network. This node has ports forwarded properly from outside to inside etc.

I'm also running a V0.20.11 node on a linux box. It doesn't seem to be communicating with the other v0.19.19 node beyond a handshake. It's connected for a few hrs at a time and they only

[2021-11-29 18:45] Linkdealer opened #96 "Version alpha-0.20.11 - the peers have started working, but the adventure continues."
With the new version of the program (alpha-0.20.11) connections with other nodes have appeared. Moreover, they work great and in 30 hours of operation the program downloaded half of the Internet at least (more than 100 gigabytes). Good.

However, there is no further progress. Here is a screenshot that was taken when the program was started https://yadi.sk/i/VSibyetZC_KaxQ and the screen with synch

[2021-11-29 23:23] graebeerd commented on #96
Are you using the new pocketcoin.conf file? If so, have you uncommented out any lines?

[2021-11-30 00:01] Linkdealer commented on #96
yes, new pocketcoin.conf and I didn't change anything in it. here is its contents:

Yes, I am using a new pocketcoin.conf and I have not changed anything in it:

[2021-11-30 17:15] the-real-vortex-v commented on #96
You should set disablewallet=1
All of the current Alpha versions of v0.20.x have no support for the wallet.

[2021-11-30 18:16] Linkdealer commented on #96
I took your advice. The functionality of the program has now decreased to debug window. I understand that it should be so. However, this did not affect synchronization in the first half hour of the program's work.
I see the same number of blocks and the date of the last block: https://yadi.sk/i/9prnyzMa-nAzjQ
In the log file, I see a lot of errors such as these:

2021-11-30T18:05:30Z ERROR: Proces

[2021-12-02 00:07] the-real-vortex-v commented on #96
Reload the database file and checkpoint files and try resyncing again.

[2021-12-02 16:31] Linkdealer commented on #96
Thanks, I reinstalled everything completely. It looks like it started working as expected. Synchronization in the final is slow, but now at least the number of remaining blocks is decreasing, not increasing. Let's see what happens.

[2021-12-03 18:23] tawmaz opened #98 "SocialConsensus failure at block 414735 feature/sqlite 20.12"
I have reproduced this issue on two systems (Windows + Linux) building from feature/sqlite branch at git commit 78fb244cd0a8775287b9ed7a1c0f535e9d80c67f.

It appears to be a double subscribe issue based on information I have collected from the social consensus validation using gdb:
Block: 414735
Block Hash: f9dde29b4b92b0312651b98aa3293c4577c904cfdf217e4fcebfa24b1ab3b189
Result:SocialConsensusResu

[2021-12-03 18:57] tawmaz commented on #98
This is another transaction in the same block which also does not have a checkpoint:
TX hash: "ac7ddefa0efb21606014f0ffe5bdaa890da9dd59c59922c51d0eb72582ecb0c9"
Code: 8
Type: 303

[2021-12-03 19:05] tawmaz commented on #98
Another transaction on the same block:
TX hash: "7fdcd94e189ff9829ccf8dca264f7b5577c2b7d52faa283ecea3917ec112e0ca"
Code: 8
Type: 303

[2021-12-03 20:04] tawmaz commented on #98
There are quite a few ACTION_SUBSCRIBE_PRIVATE transactions in this block which fail as duplicate:
TX hash: "d7ab57b7dbcc5383b38ab6dd5e1f7e7daa622e715f85d1648638168b6d7f8703"

TX hash: “bb2676fb51c5e4a9004197245beb104d84ab205696292e47ad69d90f5d90a303"

TX hash: "7bcace22ba0b3db12c70f16a9802fab0122a2b2505f69f9f6128a50a1ffb650e"

TX hash: “87e7606e8d4a15d3dd2e014f9b738d9477bda02b57fd2ba8ac887fcad272

[2021-12-04 12:45] graebeerd commented on #98
I can find none of these errors in my debug.log, it's current and has been steady since the release of 20.12, Window 11

[2021-12-04 22:07] tawmaz commented on #98
Did you download a checkpoint or perform a complete re-sync of the block chain?  This is only seen during a re-sync.

[2021-12-04 22:13] tawmaz commented on #98
Same error with TxType 303 cod 8 on block 414741, block 71c00e0e8e7aa1cca480e05f6c81ae62a979a20626f03982642efad610ac2a20 with these transactions:
bad8541da87f08d59d6241cbc538a902a27f8baa5b0d1095b36d3d37d987daf6
a798427f74abdc0a839fab679db597bb84919746004a82932c0c049620294ef9

[2021-12-04 22:33] tawmaz commented on #98
Block 419212 TxType 303 code 8 errors:
a33e591dc0b8918a9781f95bbe42719da91f9bebb82b716f7ffb4082507e901d
9536d7bd5132b3994ef47a70371674517c6f5c1e4c4000890c90412ac4ec10e4
9b7b1049b6de44416b879691bd0dbb5bb4c6352cde2747d625f82e664c08f1ba

Block 419212:
fa3dd182ad1dc287b14a9fbceb8c33ccd8b894e8f2187d8eeef0ed5efb77bec9

[2021-12-04 22:56] tawmaz commented on #98
I created a fix of the checkpoint/main.sqlite file here: https://github.com/tawmaz/pocketnet.core/commit/e79eb6fb96ed025bf04c5bf1a98a3e6be9d6592f

I will submit a pull request once I am able to sync both my nodes past block 419213.

[2021-12-05 05:22] tawmaz commented on #98
https://github.com/pocketnetteam/pocketnet.core/pull/99

[2021-12-05 19:34] Linkdealer commented on #96
I must state the fact that I was able to fully synchronize the program. I run it periodically and it is successfully updated, receiving new blocks. Now I'm waiting for a working version. Is it known when the release may take place? How long will the testing phase last?

[2021-12-05 23:46] tawmaz opened #100 "Segmentation Fault 20.12, PocketTx"
I hit a segmentation fault while attempting to sync 20.12 built from commit 78fb244cd0a8775287b9ed7a1c0f535e9d80c67f and including recent update to checkpoints/main.sqllite described in the SocialConsensus issue.  The issue occurs on my setup after social consensus validation of block 1016945.

The segmentation fault occurs when Transaction::GetType() is called when object "this" is null and unini

[2021-12-05 23:47] tawmaz commented on #100
Last lines of debug.log

[code]

[2021-12-06 14:32] graebeerd commented on #98
I did not but for the last several hours (as I slept) it has been stuck on this:

2021-12-06T14:28:06Z ERROR: ProcessNewBlock: ActivateBestChain failed ( (code 0))
2021-12-06T14:28:06Z WARNING: SocialConsensus validating failed with result 8 for block e5183462a19f0bf2e7265d0bcd9fab2c84c874a1d27b4318f60188dcbd332093
2021-12-06T14:28:06Z ERROR: ConnectTip: ConnectBlock e5183462a19f0bf2e7265d0bcd9fab

[2021-12-07 07:43] tawmaz commented on #100
At block height 1016946 it appears there is a social consensus checkpoint of TX 97e3df91e7632820735931453616ed5257da21a97c85a0bc38554e706b8ba098.  Immediately after we attempt to access relayTx->GetType, however relayTx is NULL causing the segmentation fault.

https://github.com/pocketnetteam/pocketnet.core/blob/feature/sqlite/src/pocketdb/consensus/social/Post.hpp#L39

Testing a fix where we chec

[2021-12-07 16:40] tawmaz opened #101 "SocialConsensus checkpoint issues"
This bug will track social consensus issues when syncing a block chain from scratch until we can get a complete sync.  Errors from the node will be copied into the report so these can be addressed in the checkpoints db:

SocialConsensus type:306 validate tx:71569365b642d18a9f771f06dcb7832fbf0b2cd4d07eebcb2d40a7ea4f5c13db blk:5d01610e2cec5a6f128dd78bf290fd23ee264ac70656c1b5ae35e36ebe458092 failed w

[2021-12-08 04:57] tawmaz commented on #101
It appears there is a record in the social consensus database for TX 71569365b642d18a9f771f06dcb7832fbf0b2cd4d07eebcb2d40a7ea4f5c13db, however it is set at type 304 instead of 306.

[2021-12-08 06:51] #100 closed

[2021-12-08 07:01] #101 closed

[2021-12-08 07:04] andyoknen commented on #98
Please upgrade to version 0.20.13 with update `checkpoints/main.sqlite3` from release page

[2021-12-08 07:04] andyoknen commented on #98
Solutions to the described problems are included in https://github.com/pocketnetteam/pocketnet.core/releases/tag/alpha-0.20.13

[2021-12-08 07:04] #98 closed

[2021-12-08 07:06] andyoknen commented on #96
In early versions of the alpha version, the default node block was commented out. I consider the problem solved. The release of the version will take place in a few days.

[2021-12-08 07:06] #96 closed

[2021-12-08 07:09] andyoknen commented on #95
@the-real-vortex-v  The first sign of a slowdown in version 0.20 may be a slow HDD. Since 0.20 works with sqlite, which is located on the hard disk, and not in RAM, then after the processor, the speed of working with the disk is a key factor.

[2021-12-09 07:13] #95 closed

[2021-12-09 08:39] nnmfnwl7 opened #103 "configurable sqlite memory cache, or how it works now?"
**Is your feature request related to a problem? Please describe.**

I'm always frustrated when talking about SSD/RAM usage by apps. I really understand that step moving from level-db to sqlite-db because of infinitive increasing ram capacity requirements. But if we could talk about number of _READ/WRITES_ with sqlite to storage, please let me talk about this:

I have SSD that i want to live as lon

[2021-12-09 09:04] the-real-vortex-v commented on #103
Currently you can recompile the source so you can get a massive sql cache.

goto:
pocketnet.core-alpha-0.20.13/src/sqlite/sqlite3.c

change the below line:

# define SQLITE_DEFAULT_CACHE_SIZE  -400000

It's set to 400MB in cache size. You can change that to whatever you want. Add an extra zero for 4gb for example.

As far as I know there will be a command line/config option added later perhaps but

[2021-12-09 09:22] nnmfnwl7 commented on #103
Thank you very much, yea i saw this commit https://github.com/pocketnetteam/pocketnet.core/commit/42f3df17f05a292a81aecbbe3b751c6e8a71375c ,so i was very curious about situation because was decreased to 5MB.

Thanks again, i will try.

[2021-12-09 12:25] the-real-vortex-v commented on #103
No problem. Also there's a bunch of other cache settings in there but I have no idea which are safe/good/bad etc to fiddle with. I've been changing the above define because I'm testing the node software on a seriously underpowered system and dropping it down to 40mb or 80mb cache is handy.

[2021-12-09 17:39] tawmaz opened #104 "Additional SocialConcensus Issues during node Sync"
Additional SocialConsensus issue found at height 1349352 during sync:

Warning: SocialConsensus type:303 validate tx:6fcad0f123d4781dd846076a705aadd9c4f347920a76d88dfbe9905777afb8ae blk:f8ca9b794b62c8026c77445becceb8020c202a235ab913bb55dbaf04f21e0b50 failed with result:8 at height:1349352

[2021-12-09 19:05] tawmaz commented on #103
The value was reduced due to amount of memory the current sqlite client is consuming.  We should provide a command line option to allow a larger cache for higher performance node or anyone wanting to minimize disk usage and smaller cache for a node with less memory.

[2021-12-10 18:30] americanpatriotdave opened #106 "Possible fork at block 1476700"
All of the v0.19.19 nodes are on a different blockchain than the v0.20.14 nodes.

Appears to have forked at
19.19:
2021-12-10T17:00:43Z Available coins count 84 BestHeader: 1476700 4bb6e27cfbaddf06e19b9d33c1b56afaedf84407e3be9c57f1c5aaa01ec2ac2c

20.14
2021-12-10T16:57:20Z --- Block indexed: 1476700 BH: 4bb6e27cfbaddf06e19b9d33c1b56afaedf84407e3be9c57f1c5aaa01ec2ac2c
2021-12-10T16:57:20Z +++ Block

[2021-12-11 03:17] tawmaz commented on #104
Additional SocialConsensus issue at height 1476714:
[code]

[2021-12-11 15:23] the-real-vortex-v commented on #104
I'm no sure if this is related, but I'm seeing some of these "WARNING! Cannot load block payload from sqlite db" messages.

2021-12-11T00:51:49Z --- Block indexed: 1477124 BH: 9b39c1f7a1d74e9adcb0401391045c450a1d47ceb25870c8de5898eb54ce59c4
2021-12-11T00:51:49Z +++ Block connected to chain: 1477124 BH: 9b39c1f7a1d74e9adcb0401391045c450a1d47ceb25870c8de5898eb54ce59c4
2021-12-11T00:51:49Z Clean SQLi

[2021-12-12 17:38] tawmaz commented on #106
We will be moving forward with the 20.14 fork and dropping support for reindexer versions. Most likely what happened is the 20.14 nodes became a majority on the network and produced a block that was rejected by the 0.19.19 nodes.

[2021-12-12 17:39] tawmaz opened #107 "POC => PKOIN"
I saw this mentioned in the Node Operators chat.  It appears there are some places in the PocketNet code where PKOIN is still listed as POC.  I recall this being fixed in the Reindexer master branch.

[2021-12-13 20:37] tawmaz opened #108 "0.20.15 Out Of Memory Crash with version 0.20.15"
**Describe the bug**
Version 0.20.15 crashes with below error in debug.log while performing a full sync.  The last block processed is 79455.

debug.log message:
[code]

**To Reproduce**
AWS m5ad.xlarge instance type running Ubuntu 20.04.  Quad core AMD Epyc, 16 GB RAM, 16 GB swap, 150GB NVME

Setup command history:
[code]

pocketcoin.conf
[code]

[2021-12-13 21:48] tawmaz commented on #108
Testing with api=0, node crashes again without an error in the log within 5000 blocks.

[2021-12-13 21:49] tawmaz commented on #108
Testing with wsuse=0, issue seems to be resolved and node is able to sync past 100k blocks without issue so far.  I have not seen this issue when syncing a node behind a gateway, only when the IP is public or ports are forwarded to the node.

[2021-12-15 08:56] andyoknen commented on #104
@tawmaz  This message gets into the log when the block is requested over the network - because the data was not found, there are several options:
- The requested block has not yet been received/generated by the node
- The requested block was removed from the chain due to orphan

In any case, this is quite natural behavior. You can only try to continue the events and respond to the requesting node

[2021-12-15 09:38] andyoknen commented on #106
The `master` branch has been renamed to `0.19.archive` and is no longer supported

[2021-12-15 09:38] #106 closed, assigned to nobody

[2021-12-15 09:43] andyoknen commented on #103
Increasing the sqlite cache will help us significantly reduce the load on the disk for reading from the database, but alas, it will not reduce the load for writing. The main difference between version 0.20 and 0.19 is that we write all the changes to the database to disk at once, which guarantees data integrity in case of malfunctions. This describes the potential opportunities for us to work with

[2021-12-15 21:46] tawmaz commented on #103
I am working on some testing to compare synchronization performance of 5mb and 500mb.  The initial writeup is located here: https://github.com/tawmaz/PocketnetDocs/blob/main/SQLiteCacheTest.md

[2021-12-15 21:47] tawmaz commented on #104
I am in process of re-syncing two nodes with the checkpoint at height 1349352.  Should know tomorrow whether both nodes are able to fully sync.

[2021-12-15 22:04] tawmaz opened #112 "Potential Memory Leak in 0.20.15"
A potential memory leak has been reported in version 0.20.x running under Linux.  Creating this issue for tracking of valgrind test results and which modules are using the most memory.

[2021-12-16 04:11] dmaltsiniotis commented on #112
Would this manifest itself by the debug log reporting an out of memory exception, and the process exiting, even though the host OS has plenty of available memory? I've seen that a few times so far, but have yet to reproduce it on on 0.20.15.

[2021-12-16 06:46] andyoknen commented on #112
@dmaltsiniotis The `out of memory` message does not indicate a lack of memory, but rather an error in the code when inaccessible memory is accessed.

[2021-12-16 11:58] Linkdealer opened #113 "The program works, but the balance does not change"
The program works, transactions take place, but the balance does not change (0.000000000). Why? I heard that you first need to send money to the wallet account. This is true? Please give instructions on this.

[2021-12-16 16:05] the-real-vortex-v commented on #112
I think this is the issue that Mikkel was talking about. He's saying that he lets it run and after a day or so it goes to about 6gb to 9gb of ram.
My guess is a buggy library. I haven't seen this issue running on a devuan system updated to chimaera (current stable build). I'm seeing ~500mb to 800mb of usage when I drop sqlite to 50mb.

I'm compiling from source. What can I do to see if there's a p

[2021-12-16 16:40] the-real-vortex-v commented on #108
try not compiling in the upnp library? I'm not using it on my atom low memory box. I'm also using the newer berkeley DB (v5?)

[2021-12-16 18:06] tawmaz commented on #108
The crash appears to be a segmentation fault that occurs while syncing with wsuse=1 in the config file.  I reproduced it under gbd but the SSH connection timed out so I was not able to investigate further.  Restarting the process to get another repro.

[2021-12-16 18:10] tawmaz commented on #108
Call stack from the sementation fault:

[code]

[2021-12-16 21:49] tawmaz commented on #108
Segmentation fault occurs here: https://github.com/pocketnetteam/pocketnet.core/blob/0.20/src/websocket/ws.h#L227

Crashes because "*self" is null
gdb:
[code]

[2021-12-17 08:30] andyoknen commented on #108
I am extremely confused by the stack - the call to send messages via a web socket is initiated here: src/validation.cpp:3139

Until we figure out the problem, we can try to disable this functionality with a simple check:
if (now() - chainActive.Tip().nTime > 3600s) return;

There is also not enough blocking for the NotifiWSClients method in validation.cpp:3139 and logics in init.cpp:1521
To do thi

[2021-12-17 17:24] andyoknen commented on #113
How do you check the balance? Can you provide your address?

[2021-12-17 17:30] andyoknen opened #114 "Missing transactions payload"
Missing additional transaction data was found in the database, the blockchain is not affected.
Presumably the loss is caused by incorrect logic of cleaning the mempool: https://github.com/pocketnetteam/pocketnet.core/commit/0b0494ffd9fc2f3aaf41cebcfa6cf7f8ec1faf02

To check the consistency of the database, you can use the following query in the `pocketdb/main.sqlite3` database:
[code]

Nodes remai

[2021-12-17 18:50] tawmaz commented on #108
send is being called from here: https://github.com/pocketnetteam/pocketnet.core/blob/0.20/src/validation.cpp#L3422
I added some debug tracing to be sure.  I built with --enable-debug which leaves on some optimizations so some call paths seem to be left out of the stack.

[2021-12-17 20:46] andyoknen commented on #114
Reindexing does not start the process of loading a lost transaction - research is needed

[2021-12-19 01:23] Linkdealer commented on #113
I check ´the balance on overview tab:
https://yadi.sk/i/X9HDwrS6Rs7dvw

Adress:
PJfw92FGJji3d4SSZoRoJEmE4MXLk3Z97y (from "Receiving addresses", right?)

[2021-12-19 19:15] pocketnetteam commented on #114
Fixed in https://github.com/pocketnetteam/pocketnet.core/releases/tag/v0.20.16

[2021-12-19 19:15] #114 closed, assigned to nobody

[2021-12-19 19:16] andyoknen commented on #113
@Linkdealer It looks like there are no coins behind this address. Did you transfer the conns to him?

[2021-12-19 20:33] Linkdealer commented on #113
no, I did not transfer money there. I can't find a description of how it works anywhere. There is no manual. I have to learn everything step by step from my own experience.

[2021-12-20 06:00] andyoknen commented on #113
@Linkdealer

You can start from here. Also feel free to ask further questions
https://github.com/pocketnetteam/pocketnet.core/tree/0.20/doc/help

[2021-12-20 06:13] andyoknen opened #115 "Organization of synchronization of the mempool bitcoin and pocketnet db"
## Implement the removal of transactions from sqlite db, payloads and outpoots that are not included in blocks and are missing in mempool.

### Reproducing the problem
Turn on the node to the network, activate staking, activate the blocksonly=0 parameter. After a while, transactions that are not included in the chain will appear in the sqlite database.

Possible causes:
- Transactions with type 3

[2021-12-20 06:32] andyoknen opened #117 "Recommendations API methods"
- [ ] Test SQL queries - optimize if necessary. Maximum execution time for different input parameters is 350ms
- [ ] Test API methods, exclude access to empty memory or other situations leading to system crash
- [x] Implement the help text for API methods

[2021-12-20 06:33] andyoknen opened #118 "Refactor RPC methods"
- [ ] Test SQL queries - optimize if necessary. Maximum execution time for different input parameters is 350ms
- [ ] Test API methods, exclude access to empty memory or other situations leading to system crash
- [ ] Implement the help text for API methods

[2021-12-20 06:39] andyoknen commented on #112
@tawmaz Is there any progress on this task?

[2021-12-20 06:44] andyoknen opened #119 "Implement a class to implement a WebSocket message queue."
The class must have a thread-safe stack/queue.
Message preparation and sending should be highlighted in the thread.
Creating and deleting WebSocket connections should be thread-safe.

[2021-12-20 06:45] andyoknen commented on #108
I will create a task to implement a dedicated thread for sending notifications with mutex protection - #119

[2021-12-20 06:48] #25 closed

[2021-12-20 06:50] andyoknen commented on #104
@tawmaz  Can we close this issue?

[2021-12-20 06:54] andyoknen opened #120 "Implementation of the SQLite cache resizing parameter"
Implement a parameter to change the size of the SQLite connection cache at the job level, instead of compiling.
There should be two parameters - one for the main connection and one for read-only connections.
Define default values

[2021-12-20 06:54] andyoknen commented on #103
#120

[2021-12-20 06:57] andyoknen commented on #75
At the moment, the cache is not implemented in the node. But there is a cache on proxy servers that stand between the frontend and the node.

[2021-12-20 07:06] andyoknen opened #121 "Update bitcoin code"

[2021-12-20 09:32] Linkdealer commented on #113
Thanks! I will study.

[2021-12-20 09:32] #113 closed, assigned to nobody

[2021-12-20 13:03] lostystyg commented on #121
### Notes

#### Commits:
  - It was decided to use 0.21 version of bitcoin to update from, because it is the most last stable version. There is already 22 version but is is too new. So target commit is [af591f2068d0363c92d9756ca39c43db85e5804c](https://github.com/bitcoin/bitcoin/commit/af591f2068d0363c92d9756ca39c43db85e5804c)
  - Also after a bit research it was identified that the base commit of

[2021-12-20 18:56] tawmaz commented on #112
My own nodes on mainnet appear to be stable at 4.8GB virtual memory.  I ran Valgrind last week and it reported a lot of potential issues (>1400), but these are often memory which is not explicitly freed on program exit.  With a larger SQLite page cache the memory footprint did appear to increase over time probably due to each db instance having it's own cache.

[2021-12-20 20:38] tawmaz commented on #108
From additional debugging I have done on this, the segfault always appears to happen after a socket has been closed.  The associated memory is freed at that point, however the object may still be in use in other parts of the code.  We need to implement a accessor method, socket state variable, and ref count to prevent object from being freed while it is still in use.

[2021-12-21 14:31] lostystyg commented on #119
Currently we are using boost::asio::strand for managing message queue. All actions with queue are performed inside strand wrapper which is guaranteed to be thread safe. (See [About Strands](https://www.boost.org/doc/libs/1_78_0/doc/html/boost_asio/overview/core/strands.html)).
E.x. adding message to queue:
[code]
Also all other actions with queue are performed inside async handlers that are wrappe

[2021-12-21 15:57] lostystyg opened #122 "Qt resource compilation failed with CMake and Visual Studio"
lupdate executable destroys Qt resources during calling
qt5_create_translation() which results in error. Problem is specific for Visual Studio toolchain.
E.x. CLion using same lupdate executable has no such problem.

[2021-12-21 19:45] davkastheranger19 opened #123 "ErrorLogCallback"
I'm running linux server 20.04.
24GB Ram
8 VCore CPU
Running version node v0.20.16

2021-12-21T19:10:20Z ErrorLogCallback: 1; Message: statement aborts at 16: [
            select
                t.Id

            from web.Content f

            join web.ContentMap fm on fm.ROWID = f.ROWID

            cross join Transactions t indexed by Tra
2021-12-21T19:10:21Z ErrorLogCallback: 1; Message: stat

[2021-12-21 22:06] andyoknen commented on #123
Thank you for your response. It looks like the errors of the search query in the sqlite database. We are dealing with this issue.

[2021-12-22 17:01] davkastheranger19 commented on #123
I've been shutting down the pocketcoind service and restarting it when I see this error. Should I continue to do that, or does it matter?

[2021-12-22 17:04] dmaltsiniotis commented on #123
I operate a node and I would suggest not do that. These kinds of timeout errors are transient in nature, and resolve themselves usually. They aren't critical errors. If you are seeing huge amounts of timeouts though, it may be worth investigating the speed of the hard disk that the process is running on, and possibly upgrading to a faster disk.

[2021-12-22 17:08] davkastheranger19 commented on #123
I'm running it on a VM that is sitting on 3 NVMe drives in raid, so it doesn't get much faster than what I've got at the consumer level.
I'll leave it be unless I see that nodes peers are timing out. Thanks.

[2021-12-22 20:05] tawmaz commented on #115
Progress on this task will be on this branch: https://github.com/tawmaz/pocketnet.core/commits/mempoolclean
At present I have a query which will clear all orphaned transactions which have not made it onto a block after one hour.  On testnet there are not enough transactions or block rollbacks to verify the code.  Some additional tasks I would to complete before testing on mainnet:

1. Re-enable th

[2021-12-23 04:12] dmaltsiniotis opened #124 "Core v0.20.16 segmentation fault"
**Describe the bug**
After an uptime of a couple of days, the pocketcoind process died with a segmentation fault.

This was in /var/log/messages:
[code]

The last few lines in the debug log do not indicate any kind of overt error:
[code]

**System information:**
 - OS: Debian 11 (Buster)
 - Kernel: 4.19.0-18-cloud-amd64
 - vCPU's: 2
 - RAM: 4 GB
 - Swap: 4 GB
 - Data disk: 128 GB (48 GB in use by

[2021-12-23 06:40] tawmaz commented on #124
Possibly this issue which is a segmentation fault and often is not accompanied by any log errors: https://github.com/pocketnetteam/pocketnet.core/issues/108

[2021-12-27 08:06] andyoknen commented on #119
@lostystyg Could you take this to work?

[2021-12-27 08:06] andyoknen commented on #108
https://github.com/pocketnetteam/pocketnet.core/issues/119

[2021-12-27 08:06] #108 closed, assigned to tawmaz

[2021-12-27 08:07] andyoknen commented on #124
https://github.com/pocketnetteam/pocketnet.core/issues/119

[2021-12-27 08:07] #124 closed, assigned to nobody

[2021-12-27 08:10] andyoknen commented on #123
As XXX rightly noted, these errors are uncritical and do not require any action, as long as their number remains small.

[2021-12-27 08:14] andyoknen opened #125 "Optimize SQL queries"
The following RPC methods require optimization due to errors or long processing time:
- [x] `GetHistoricalFeed`
- [x] `GetAccountProfiles`
- [x] `GetContentsStatistic`
- [x] `GetHotPosts`
- [x] #221
- [x] `SearchUsers`

[2021-12-27 08:14] andyoknen commented on #123
I will close this question and create an issue to optimize these SQL queries - https://github.com/pocketnetteam/pocketnet.core/issues/125

[2021-12-27 08:14] #123 closed, assigned to nobody

[2021-12-27 08:15] andyoknen commented on #120
@tawmaz Is there any progress on this task?

[2021-12-27 08:54] andyoknen opened #126 "Historical values of the address balance"
Implement in the `src/pocketdb/web/PocketAccountRpc.h` method `GetAddressHistoricalBalance` with parameters:
[code]

The data for the query is in table `main.Balances`. The balance values are accumulated each block for all addresses from all transactions in the block. The values are cumulative, example:

| Address | Height| Balance | Last |
| --- | --- | --- | --- |
| xxx | 1 | 100 | false |
| xxx

[2021-12-27 09:02] andyoknen opened #127 "Saving in main.TxOutputs output #0 for CoinStake transactions"
At the moment, there is no output #0 for the coinstake transaction in the TxOutputs table, which contains information about the source of the lottery winnings.

Example:
[code]

- [x] Extend `ChainPostProcessing::PrepareTransactions` for 0 output
- [x] #143

Example SQL query for check (Need to add indexes):
[code]

[2021-12-27 09:25] andyoknen commented on #115
@tawmaz Is there any progress on this task?

[2021-12-27 14:36] Linkdealer opened #128 "The balance does not increase"
Continued topic https://github.com/pocketnetteam/pocketnet.core/issues/113

The balance does not increase: https://disk.yandex.ru/i/8gujHKa7CNbiVA

As you can see in the picture, 50 PKOINs were added to the balance almost a week ago. And there hasn't been a single increase in balance since then.

Here you can see that the program processes transactions: https://disk.yandex.ru/i/X9k8LJkWepfRnQ

But

[2021-12-27 23:30] dmaltsiniotis commented on #128
Hi @Linkdealer,

I'm going to try to understand what you're asking, but it's a little difficult. To answer your question:

No, this is not a correct understanding. Those transactions in the mempool have no effect on your PKOIN balance.

I'm going to assume that your goal is earn PKOIN by running a Pocketcoin node. You have correctly figured out that you need at least 50 PKOIN in your wallet balanc

[2021-12-29 02:22] tawmaz commented on #119
Created pull request to fix segmentation fault and make accesses to WSConnections map thread safe: https://github.com/pocketnetteam/pocketnet.core/pull/129
As @lostystyg mentioned we are using asio for queueing so we should be good to go with this patch.  We may look at optimizing the lock mechanism in the future if it is found to be a bottleneck.

[2021-12-29 18:38] tawmaz opened #130 "getstakereport crashes with SIGABRT in debug build"
Running getstakereport on 0.20.17 release candidate built with --enable-debug causes a crash with SIGABRT here: https://github.com/pocketnetteam/pocketnet.core/blob/feature/sqlite/src/sync.cpp#L161
I recall seeing this crash back even with reindexer so I do not think this is a new issue.

stack:
[code]
frame 2 locals and args:
[code]
frame 3 locals and args:
[code]

[2021-12-29 19:10] Linkdealer commented on #128
Thanks a lot for your detailed answer. You understood my question absolutely correctly. If I understood everything correctly, then this is a win-win lottery with 24% per annum. Minus possible risks, costs for electricity, depreciation of equipment and operator's working hours ... The terms "win" are badly associated with business :) But now I understand what this is about. Thank you again!

[2021-12-29 20:42] andyoknen commented on #119
I propose to consider the implementation of this task for version 0.20.18

[2021-12-30 12:09] andyoknen commented on #130
@tawmaz  Do you have conditions or steps to reproduce?

[2021-12-30 16:57] tawmaz commented on #130
Here is the my setup:
- Ubuntu 20.04
- AMD Epyc 4 core, 16GB RAM
- Fully synced and staking enabled
- 0.20.17 release candidate configured with --enable-debug
conf file:
[code]

[2021-12-30 22:58] tawmaz commented on #115
I am now testing my changes on mainnet because there are not enough block rollbacks to adequately test on testnet.  Recent changes have been pushed to my mempoolclean branch in my repo.

[2021-12-31 01:01] tawmaz commented on #130
Fix which I think we should hold for 0.20.18 release: https://github.com/pocketnetteam/pocketnet.core/pull/131

[2021-12-31 14:12] andyoknen commented on #130
Why do you think it should be moved to 0.20.18? I think this is a good change for 0.20.17

[2021-12-31 16:18] tawmaz commented on #130
I would need to restart 0.20.17 testing from the beginning if we accept this patch.  It is a simple patch but there is always the possibility of introducing deadlocks or other serious issue.
As far as impact to the community this issue is only visible in debug builds so I think it is okay to wait a few weeks for release.

[2022-01-03 08:14] #128 closed, assigned to nobody

[2022-01-03 09:56] andyoknen opened #133 "Boost transactions"

[2022-01-03 10:07] andyoknen opened #134 "Article transaction (Long Post)"

[2022-01-03 14:24] andyoknen commented on #130
This fix is being migrated to version 0.20.18

[2022-01-03 14:24] #130 closed, assigned to tawmaz

[2022-01-03 22:07] lostystyg opened #135 "Crash on exit with server=0"
How to reproduce: Ctrl+c after successful startup with -server=0
This is the result of creating g_socket variable [only if](https://github.com/pocketnetteam/pocketnet.core/blob/2ac0ef32fe1da86f983896bc38b19664d77e707c/src/init.cpp#L1743)  -server=1 [here](https://github.com/pocketnetteam/pocketnet.core/blob/2ac0ef32fe1da86f983896bc38b19664d77e707c/src/httpserver.cpp#L441) but g_socket is null [her

[2022-01-04 06:19] pocketnetteam opened #136 "Release v0.20.17"
[v0.20.17-beta1](https://github.com/pocketnetteam/pocketnet.core/releases/tag/v0.20.17-beta1)

[2022-01-04 06:23] tawmaz commented on #104
Yes, nodes are syncing fine with current sqlite tip.

[2022-01-04 06:23] #104 closed, assigned to tawmaz

[2022-01-04 06:24] pocketnetteam opened #137 "Change year 2021 -> 2022"
Happy New Year 2022!

[2022-01-04 07:38] andyoknen opened #139 "Automation of assembly and unit testing"
Implement the processes of automatic assembly and launch of unit tests for branch 0.20 with a trigger for pull request

[2022-01-04 17:31] tawmaz commented on #136
All "make check" unit tests pass

[2022-01-04 17:34] tawmaz commented on #136
Restarted two  nodes for full-sync test on tag v0.20.17-beta1.
Linux node upgrade succeeded, will let it run for 24 hours and confirm it runs without error.

[2022-01-04 23:58] tawmaz commented on #115
Currently testing fix on a mainnet node, however it does not appear the node sqlite db has any expired mempool transactions or transaction records which are not on the block chain.  It is possible that the first run of the code cleaned out those transactions.  Will continue letting it run for a week to verify stability and that all stray records are removed from the database.

[2022-01-05 00:01] tawmaz commented on #115
I have added some verification code to ensure all transactions in the Transactions table with assigned block hashes are also in the block chain.  Need to add an additional check to verify all mempool transactions are accurately represented in the Transactions table.

[2022-01-06 01:31] tawmaz commented on #136
Linux nodes have been running without error.  Nodes performing full-sync are at blocks 977162 and 1053222.
Windows node encountered an error which I am in investigating where a block is being rejected for having more than one transaction at around block 400k.  I believe this may be due to improper shutdown of the node when switching versions and using the same block chain data on disk, so I will r

[2022-01-06 04:05] tawmaz commented on #139
I am looking at how to do this with GitHub actions.  AWS CodeBuild is another option I am very familiar with and can use github as a repository as a fallback.

[2022-01-06 07:20] tawmaz commented on #139
I have a github actions yaml file created in my repo which complete make + make check + make deploy: https://github.com/tawmaz/pocketnet.core/blob/master/.github/workflows/makecheck.yml
Here is a test run against the old reindexer build: https://github.com/tawmaz/pocketnet.core/runs/4723888680?check_suite_focus=true
It needs a few tweaks to upload the resultant file and speed up the build.  Right

[2022-01-06 14:44] andyoknen commented on #139
[![make check](https://github.com/tawmaz/pocketnet.core/actions/workflows/makecheck.yml/badge.svg)](https://github.com/tawmaz/pocketnet.core/actions/workflows/makecheck.yml)

[2022-01-06 19:53] nnmfnwl7 commented on #103
Great testing has been done, Little bit practical question, what if someone try to run also other chains on that machine, ie BTC, LTC for doing PKON atomic swaps within DEX? if could cause some impact...

[2022-01-06 20:19] nnmfnwl7 commented on #103
Yea, true. I was trying to find out universal solution on operating system layer, like tuning fstab parameters like, data=writeback,commit=120. There are lots of discussions about fs tuning, but i was looking for something specific, maybe it exist something that is able to run like tmpfs on top of existing data, that will keep merging all write changes to RAM until umount or tmpfs ram limit.
I can

[2022-01-06 20:40] nnmfnwl7 commented on #136
little bit thoughts about:
[code]
not sure if 0.00 is good value., because wallet by default wont send any pkoin until _settxfee_ is set.

one more:
[code]
wallet is unlocked, fully synced, but "staking": false, want start

also
[code]
wallet is running few days but not able to estimate...

got same issues with previous(.16) version.

[2022-01-07 12:44] andyoknen opened #143 "Implement a method of filling the database with data for these outputs at node start"

[2022-01-07 12:46] #143 closed, assigned to andyoknen

[2022-01-07 12:54] andyoknen commented on #136
@nnmfnwl7 Try starting the node with the argument `-staking=1`

[2022-01-07 17:32] tawmaz commented on #139
https://github.com/pocketnetteam/pocketnet.core/pull/141

[2022-01-07 22:48] tawmaz commented on #115
I wrote a function here to find orphan transactions in the Transactions database which are in neither the BlockChain or mempool: https://github.com/tawmaz/pocketnet.core/blob/mempoolclean/src/rpc/blockchain.cpp#L1069
There are a few hundred transactions  in the Transactions database on my node which the function reports as orphans.
As a next step I can try deleting these and see if additional orph

[2022-01-08 04:42] tawmaz commented on #136
An update on my testing, I have not encountered any issues.  My node performing full blockchain sync is at block 1431706 and will likely complete early tomorrow.

[2022-01-08 15:12] nnmfnwl7 commented on #136
@andyoknen I had already `staking=1` in config file, so i try also `-staking=1` in cmd line, but not helped. wallet is unlocked, fully synced, funds in, previously with 0.19 was staking good.
[code]

what else found, not sure if this is good or what:
[code]

Any idea what else to check, why that staking does not working? maybe something add to config? or whatever?

[2022-01-09 00:04] tawmaz commented on #136
@nnmfnwl7 Which source commit are you building from?  There was an issue which Andy fixed which had this exact symptom.  Make sure you are pulling the git tag "v0.20.17-beta1"

[2022-01-09 00:04] tawmaz commented on #136
My testing is complete for v0.20.17.  It looks good to release from my end.

[2022-01-09 09:20] nnmfnwl7 commented on #136
yes, exactly this one:
cc_git_src_branch="v0.20.17-beta1"
cc_git_commit_id="5b4b6cd7a346d2fb79d5dabb84331d32fa58fc70"

Cant be problem with this needs sync from scratch?

[2022-01-09 09:45] andyoknen opened #145 "Installation Manager"
We need an easy installation manager for Pocketnet & Bastion software.
The size of the final installer should strive to the minimum for distribution via the Pocketnet blockchain as part of the transaction payload.

It is assumed that the source codes will be located in the public repository of the PocketnetTeam account.

In the blockchain, a cross-reference to the published tag in GitHub will be i

[2022-01-09 10:21] andyoknen commented on #145
Realize GET link for txHash with Post with Binary of installation manager over REST http socket

https://github.com/pocketnetteam/pocketnet.core/blob/0.20/src/rest.cpp

[2022-01-09 10:27] andyoknen commented on #115
Cool

[2022-01-10 09:02] andyoknen commented on #136
@nnmfnwl7 I suggest moving the discussion of your problem to a separate issue.

[2022-01-10 09:04] andyoknen opened #147 "Staking problem"
little bit thoughts about:
[code]
not sure if 0.00 is good value., because wallet by default wont send any pkoin until _settxfee_ is set.

one more:
[code]
wallet is unlocked, fully synced, but "staking": false, want start

also
[code]
wallet is running few days but not able to estimate...

got same issues with previous(.16) version.

_Originally posted by @nnmfnwl7 in https://github.com/pocketnet

[2022-01-10 09:11] andyoknen commented on #147
@nnmfnwl7 I am looking at the [code](https://github.com/pocketnetteam/pocketnet.core/blob/5b4b6cd7a346d2fb79d5dabb84331d32fa58fc70/src/staker.cpp#L229) and I have an assumption that this may be due to the incorrect time of your PC.

What is the output from your node on public port 38081 for the `getnodeinfo` method?
[code]

[2022-01-10 11:19] nnmfnwl7 commented on #147
Time is correct, other chains works well. Hmm, `curl: (7) Failed to connect to 127.0.0.1 port 38081: Connection refused`, wondering why, because config has `publicrpcport=38081` But anyway, staking should not depend on public rpc....

[2022-01-10 11:51] lostystyg opened #149 "Launching tests via cmake"

[2022-01-10 12:53] andyoknen commented on #147
Staking really does not depend on the public port, just this method will show the node time.
You can try to see the output of `getblockchaininfo` via a private port or a cli utility

[2022-01-10 13:30] andyoknen commented on #136
## The results of load testing for the test network.
### test.1.pocketnet.app
[code]

| Test # | Threads / <br/> TX per sec | Count | Time AVG (ms) | Time MAX (ms) | Time MIN (ms) | RPC Pool <br/> exceeded |
| --- | --- | --: | --: | --: | --: | --: |
| 1 | 4 / 2 | 5744 | 146 | 2072 | 74 | 0 |
| 2 | 8 / 1 | 17241 | 175 | 4707 | 81 | 0 |
| 3 | 16 / 0.5 | 25383 | 245 | 13802 | 79 | 0 |
| 4 | 32 / 0.

[2022-01-10 20:15] tawmaz commented on #136
@nnmfnwl7 Can you try with the 0.20.16 release and see if you still observe the issue with staking?

[2022-01-11 04:50] tawmaz commented on #120
Pull request: https://github.com/pocketnetteam/pocketnet.core/pull/151

[2022-01-11 06:16] #103 closed

[2022-01-11 07:33] #136 closed, assigned to only1question, andyoknen, tawmaz

[2022-01-11 16:52] sweetdreams035 opened #153 "Segmentation fault error"
I am running a pocketcoin node and helping my friend run one as well. He has Ubuntu and I have Windows. I have updated the node to the current version, have the latest database archive and made sure all the folders are not set to read only and I am getting the error "segmentation fault (core dumped)" when trying to start the node on both computers. Does anyone have any suggestions?

[2022-01-11 17:13] tawmaz commented on #153
It is missing from the notes on the instructions, but you need to copy the file main.sqlite3 in the release to location ~/.pocketcoin/checkpoints/main.sqlite3 on Linux or on Windows to the location $HOME/appdata/roaming/pocketcoin/checkpoints/main.sqlite3
We really need to figure out a better way to package this.  Also please be sure you are running the 0.20.17 release which just came out a few ho

[2022-01-11 17:21] tawmaz commented on #139
Here is the first successful automated build + testrun for the pocketnet.core repo: https://github.com/pocketnetteam/pocketnet.core/actions/runs/1681403579
It will run automatically for pull requests and can also be invoked manually through the Actions tab.

[2022-01-11 17:21] #139 closed, assigned to tawmaz

[2022-01-11 20:02] sweetdreams035 commented on #153
Thank you for the quick response. I am running 0.20.17 and have copied the main.sqlite3 file to the checkpoints folder and it is still crashing on my windows machine. I will keep trying. I will try it later on my friends linux machine and see what the results are.

[2022-01-11 20:15] tawmaz commented on #153
Can you post debug.log from the pocketcoin folder?  Please delete it first, then restart the pocketcoin software so that we get only the latest run, otherwise it will append it to the previous file.
Also are you running pocketcoind (terminal) or pocketcoin-qt (gui)?  Try both in case this is an issue with the gui.

[2022-01-11 21:05] sweetdreams035 commented on #153
Ok,attaching the debug.log file. I have tried running from the command line as well as the GUI, same result
[debug.log](https://github.com/pocketnetteam/pocketnet.core/files/7849862/debug.log)
.

[2022-01-11 21:14] sweetdreams035 commented on #153
I see the config file is missing?

[2022-01-11 22:01] tawmaz opened #154 "Frequent SQL timeouts in debug.log"
I am seeing frequent SQL timeouts visible in debug.log on two nodes.  Here is an example:
GetHistoricalFeed:
[code]
SearchLinks:
[code]
I have not done any investigation of the issue but this is likely causing a bad experience at the front-end.

[2022-01-12 00:22] sweetdreams035 commented on #153
Here is the debug.log from my friends linux computer
[debug.log](https://github.com/pocketnetteam/pocketnet.core/files/7850655/debug.log)
Also,opening his pocketcoin.config file, it is empty

[2022-01-12 02:04] tawmaz commented on #107
https://github.com/pocketnetteam/pocketnet.core/pull/155

[2022-01-12 04:43] tawmaz commented on #153
We should be able to operate without the pocketcoin.conf file without issue, but possibly there could be some issue.  Here is the contents of the pocketcoin.conf file we have recommended for recent releases:
[code]

Can you share with us the system config of the Linux system including OS distribution, memory size, CPU type, disk speed and size, network connection type, etc?

[2022-01-12 08:53] #126 closed, assigned to andyoknen

[2022-01-12 08:59] andyoknen commented on #154
#125

[2022-01-12 11:10] andyoknen opened #158 "Errors related to notifications"

[2022-01-12 13:03] nnmfnwl7 commented on #147
[code]

[2022-01-12 15:05] lostystyg commented on #135
Also probably just remove -server argument because it seems -listen does the same job. But need check if it is.

[2022-01-12 20:07] tawmaz commented on #145
It would be nice if this also placed the checkpoints/main.sqlite3 file in the correct directory as well.

[2022-01-12 20:18] tawmaz commented on #115
An update on progress of this task.  I wrote an RPC method which brute force deletes any orphan transactions from the Transactions table which are not in the mempool or the blockchain.  Letting it run overnight I see some new orphan transactions are added to the Transactions table, so somehow there are still some transactions getting in.
I seem to have introduced an issue where the node crashes si

[2022-01-13 03:10] the-real-vortex-v commented on #154
Is there a "last posts" cache? What I mean is when a new block is minted and accepted by the network then the nodes should decode that block and build a cache for things like "gethistoricalstrip" and the comments functions. I think that could help reduce stuff like this in a big way.
The cache could just be updated on disk or ram. I'd suggest storing 5 or 10 blocks worth of cache.

[2022-01-13 07:09] andyoknen commented on #145
@tawmaz As for the checkpoint file, we need to change the path to it so that it is not in the data directory, but together with the binary file. But this can cause problems in linux, since binary files are installed in /usr/local/bin

[2022-01-13 09:42] #107 closed, assigned to tawmaz

[2022-01-13 09:43] #137 closed, assigned to tawmaz

[2022-01-13 09:44] #127 closed, assigned to andyoknen

[2022-01-13 09:46] andyoknen commented on #147
@nnmfnwl7 I think it makes sense to look at the full log file of the node startup and the subsequent 5-10 minutes of work. Delete the debug.log file in the node data directory. Start the node:
[code]

[2022-01-13 12:22] only1question opened #159 "Boost API methods"
- [ ] Top Boosts
- [ ] Total Boosts

[2022-01-13 12:25] only1question opened #160 "Subscribes Feed"
Add height filter in input parameters

[2022-01-13 14:55] andyoknen commented on #154
I will close this issue, since the work should be carried out in #125

[2022-01-13 14:55] #154 closed, assigned to nobody

[2022-01-13 18:24] andyoknen opened #161 "Benchmark testing"
The main idea is to prerelease benchmark tests to identify the regression of speed.
Bitcoin has a benchmark logic, we could adapt it to our needs, if necessary.
First we need to try to run the current implementation and look at the results to decide on additional improvements.
I suggest placing the results in this issue

[2022-01-14 20:11] tawmaz commented on #121
One request I would have is to port the refactored utility functions from bitcoin in src/util (https://github.com/bitcoin/bitcoin/tree/0.21/src/util).  These often present conflicts when trying to port over or compare code from Bitcoin and they are typically are OS helper functions which do not need to be modified for Pocketcoin.  There has been a lot of refactoring to clean up these functions ove

[2022-01-14 21:59] lostystyg commented on #121
@tawmaz all source code has been already ported, check #156

[2022-01-15 16:46] nnmfnwl7 commented on #147
Ok, and what string to look for in debug log, any string hints to focus on?

[2022-01-15 18:21] andyoknen commented on #147
it's hard to say - I think the absence of any records may give us ideas

[2022-01-17 07:57] #160 closed, assigned to only1question

[2022-01-17 10:25] only1question opened #164 "Add new notifications"
- [x] Notification about boost content
- [x] Notification for articles

[2022-01-17 14:13] lostystyg commented on #135
-server is irrelevant to -listen option. -server affects rpc socket's stuff, while -listen affects socket that is used to establish connection between nodes.

[2022-01-17 15:30] andyoknen commented on #135
@lostystyg  What exactly is affected by -server?

[2022-01-17 20:36] lostystyg commented on #135
Sockets in httpserver and httprpc that used for rpc http requests. Setting -server=0 means node will not accept any http requests to it but will still sync chain with other nodes.

-listen=0 affects sockets in net.cpp and prevents connecting other nodes to it (e.x. another node wouldn't been able to connect to our node and download blocks from us). But we still can connect to other nodes in one-wa

[2022-01-17 21:16] lostystyg commented on #135
#165 is a hot fix and i consider close this after PR merged and open a new issue for 0.21.0 milestone for refactoring socket access by probably introducing some interface and use dummy in case of -server=0 like it is analogically done in wallet if wallet is disabled. This would be necessary because rpc sockets are accessed in more places in 0.21 version and there are some problems with current soc

[2022-01-17 21:26] lostystyg commented on #135
Furthermore, probably linked [place](https://github.com/lostystyg/pocketnet.core/blob/cfeb54c98d81cab04705e3643ab9b53b73de350b/src/interfaces/chain.cpp#L129) has a redundant logic that can be avoided but still this is related to rpc socket usage so i think this need an additional discussion and suggest do this in a separate issue for 0.21

[2022-01-18 07:28] andyoknen opened #166 "Enable public API by default"
8529d7c9936aac99f0a92b2547ea31721916a90b

[2022-01-18 07:28] #166 closed, assigned to andyoknen

[2022-01-18 07:29] andyoknen opened #167 "Exclude comments from accounts blocked by the author of the post"
2b7ba23e95dc8008b7f954119e4e5dadc9ad7add

[2022-01-18 07:30] #167 closed, assigned to andyoknen

[2022-01-18 07:31] andyoknen opened #168 "Fix GetPostScores for accounts with 0 rating"
8981bf78d8bf81c81a436348bcc5ee57d9005f97

[2022-01-18 07:31] #168 closed, assigned to andyoknen

[2022-01-18 13:30] andyoknen opened #169 "Remove donations from GetLastComments < 0.5 PKOIN"

[2022-01-18 18:57] tawmaz commented on #115
I am going to attempt a different approach with this issue, as it is too difficult to debug on a live network.  I plan to enable regtest tests, then modify some tests to add transactions into the mempool, move them to blocks, then roll back the blocks, and verify the DB is in the correct state at each step to see if we can detect where the extra transactions are being left.

[2022-01-18 19:42] tawmaz commented on #161
I am targeting the end of this week to have a pull request with at least the blockassemble bench test working, so potentially this could be in 0.20.18.

[2022-01-19 09:32] andyoknen commented on #169
4babeceafb598bf5126eafc0c9fbba4a87fcef1a

[2022-01-19 09:32] #169 closed, assigned to andyoknen

[2022-01-19 15:27] Dylan-86 opened #170 "Ubuntu 21.10 Segmentation Fault on clean install of 0.20.17 pocketcoin-qt"
Hi,
I've successfully installed the pocketnet.core deb.

I've downloaded manually the checkpoints db and put in in /home/.pocketcoin/checkpoints

Open terminal
`pocketcoin-qt`

[code]

Open Log
2022-01-19T15:25:38Z Pocketnet Core version v0.20.17 (release build)
2022-01-19T15:25:38Z InitParameterInteraction: parameter interaction: -whitelistforcerelay=1 -> setting -whitelistrelay=1
2022-01-19T15:2

[2022-01-19 16:56] andyoknen commented on #170
Maybe try to run in debugging using GDB ? This may give more information about the problem
[code]

[2022-01-19 17:06] Dylan-86 commented on #170
Not that useful:

ddy@ddy--50909:~$ gdb pocketcoind

GNU gdb (Ubuntu 11.1-0ubuntu2) 11.1
Copyright (C) 2021 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.
Type "show copying" and "show warranty" for details.
This GDB

[2022-01-20 05:07] andyoknen commented on #170
Everything is fine, you need to enter "r" to run

[2022-01-20 08:58] andyoknen opened #172 "Release v0.20.18"
- [X] #135
- [X] #158
- [X] #175
- [X] #134
- [X] #133
- [X] #117
- [X] #169
- [X] #168
- [X] #167
- [X] #166
- [X] #127
- [X] #137
- [x] #120
- [X] #107
- [X] #126
- [X] #130
- [x] #181

[2022-01-20 17:12] tawmaz commented on #170
From the terminal output it is crashing with a segmentation fault.  What Ubuntu version are you running?  What is your system hardware configuration?

[2022-01-20 17:19] Dylan-86 commented on #170
Ubuntu 21.10
CPU i5-1135g7
16 gb ram
250 GB SSD

[2022-01-20 17:26] tawmaz opened #173 "SQLite threading optimization (SQLITE_CONFIG_MULTITHREAD)"
We are currently using threading mode SQLITE_CONFIG_SERIALIZED which enables all SQLite mutexes and also using a mutex m_connection_mutex for each access.  This will severely limit multi-thread performance as only one thread can access the database at a time.
We should switch to SQLITE_CONFIG_MULTITHREAD, make sure each thread maintains it's own database connection, and not use our own mutex.

htt

[2022-01-20 18:18] tawmaz commented on #112
Closing for now as my nodes appear to be stable after multiple weeks of operation at ~5GB virtual memory.

[2022-01-20 18:18] #112 closed, assigned to nobody

[2022-01-21 08:08] andyoknen commented on #173
@tawmaz

At the moment , the connection scheme is as follows:
- The main thread has a connection to the main database for reading and writing, and all work is done in one thread within the cs_main mutex.
- Each RPC thread has its own read-only connection to the database and cannot process multiple requests at the same time.

Also, the connection to the database itself has an internal mutex inside

[2022-01-21 17:17] tawmaz opened #174 "Bastyon Search Function Improvements"
This issue is to track improvements in the search function of Bastyon.  This branch has an early implementation of SQLite spellfix and porterization (finding the root of a word i.e. shopping -> shop): https://github.com/tawmaz/pocketnet.core/tree/feature/spellfix
In order to take advantage of these some API interface changes will need to be made to prevent queries from taking too long and prevent

[2022-01-21 18:36] lostystyg commented on #119
[Here](https://github.com/lostystyg/pocketnet.core/tree/fix/websocket) websocket queue processing is extracted to a different thread and works well with shallow-minded testing. I'll create a PR after 0.20.18 released because we are targeting these changes for 0.20.19

[2022-01-21 19:14] tawmaz commented on #173
Some additional tuning will likely be required to see optimal benefit.  For example, if threads are not blocking each other with database accesses, we should be able to do the same work with fewer number of threads, which frees up memory as well as OS resources needed to pause and resume threads.

[2022-01-21 20:50] nnmfnwl7 commented on #147
I have no time to look at logs when i have no clue what to look for. Aft first i was expecting ideas maybe about why "bip9_softforks": { "csv": {  "status": "failed",... Next i was expecting what str seach for. So i deleted all chain data will try again from checkpoint , will see.

[2022-01-21 21:54] lostystyg commented on #121
It seems like node is performing very good on testnet. Staking, new logic of accessing transaction from sqlite, validating blocks and more is working without errors. Next stage is trying to use frontend on updated node.

[2022-01-26 09:07] andyoknen opened #175 "After editing the comment, the values of the ratings disappear"
Reproduce:
1. Comment post
2. Score Down or Up comment
3. Edit comment

[2022-01-26 09:07] andyoknen commented on #175
Fixed a23268863eb5817e094b65ed283ee8aa0b561b51

[2022-01-27 04:20] tawmaz commented on #170
I have a repro on this segmentation fault when performing a clean install and attempting to run pocketcoin-qt on Ubuntu 21.10.  If possible it would be good for us to get a fix into 20.18.

[2022-01-27 10:24] #117 closed, assigned to only1question

[2022-01-27 10:24] #133 closed, assigned to only1question, andyoknen

[2022-01-27 10:24] #134 closed, assigned to nobody

[2022-01-27 10:24] #158 closed, assigned to only1question

[2022-01-27 10:24] #175 closed, assigned to andyoknen

[2022-01-27 10:27] #135 closed, assigned to lostystyg

[2022-01-27 15:18] andyoknen commented on #172
https://github.com/pocketnetteam/pocketnet.core/releases/tag/v0.20.18-beta1

[2022-01-27 15:18] andyoknen commented on #172
@tawmaz

[2022-01-27 16:21] andyoknen commented on #170
@tawmaz Do you have a solution?

[2022-01-27 17:33] tawmaz commented on #170
I will investigate some more today.  The segmentation fault does not show a stack, and appears to be crashing inside the QT library.  As a workaround it is possible to run pocketcoind, but the GUI does not appear to work on Ubuntu 21.10.

There are two messages printed to the console before crashing:
"Warning: Ignoring XDG_SESSION_TYPE=wayland on Gnome.  Use QT_QPA_PLATFORM=wayland to run on Wayla

[2022-01-27 18:32] andyoknen commented on #170
I think it can no longer be released in 0.20.18 and is not urgent enough. In any case, we plan to abandon the bitcoin GUI in the future, replacing it with a web interface.

[2022-01-27 21:39] tawmaz commented on #170
I am running into a some issues with Ubuntu 21.10 requiring me to re-install.  I would suggest we recommend Ubuntu 20.04 in the setup guide.

[2022-01-28 01:12] tawmaz commented on #172
I will setup some nodes to test this over the weekend.

[2022-01-28 01:48] tawmaz commented on #172
All unit tests pass on the v0.20.18-beta1 branch: https://github.com/pocketnetteam/pocketnet.core/runs/4974926186

[2022-01-28 07:51] andyoknen commented on #172
Will you perform a full sync test? I checked -reindex=1 for the test network - successfully. I will also check for disconnect blocks over the weekend.

[2022-01-29 23:51] tawmaz commented on #172
Windows node syncing with testnet got stuck the following error:
[code]
This was built with cmake, I will try running it again with mingw32 cross-compiled build.

[2022-01-30 00:35] tawmaz commented on #172
I am seeing some issues with windows.  The pocketcoin-qt app compiled under mingw32 crashes without error soon after starting when running with the -testnet parameter.

[2022-01-30 03:33] tawmaz commented on #172
I have the issue root caused. Basically if pocketcoin-qt is started without the -server command, g_socket is null and pocketcoin-qt attempts to reference g_socket to get the list or RPC commands, causing a crash because it is null.  I think this is also the root cause of the other segmentation fault issue with pocketcoin-qt.
I think we need to set -server=1 to enabled by default for pocketcoin-qt.

[2022-01-30 06:04] tawmaz commented on #172
Hotfix for pocketcoin-qt: https://github.com/pocketnetteam/pocketnet.core/pull/176

[2022-01-30 06:04] tawmaz commented on #170
Fix: https://github.com/pocketnetteam/pocketnet.core/pull/176

[2022-01-30 16:20] andyoknen commented on #172
Merged. This issue closed automatically after merged PR..)

[2022-01-31 07:36] tawmaz commented on #172
I applied new tag v0.20.18-beta2 where I will be testing from

[2022-01-31 07:59] only1question opened #177 "Polling post"

[2022-01-31 22:21] tawmaz commented on #172
Current test status:
- TestNet: Pocketcoin-qt Linux succeeded in sync with testnet.
- Testnet Windows: Pocketcoin-qt Windows is still syncing with testnet with default parameters.  In spite of running on a higher performance system, syncing performance is much slower on Windows and is something we need to investigate.
- Mainnet Onebox Upgrade: pocketcoind upgrade on Linux succeeded on mainnet.  Wa

[2022-02-01 07:18] andyoknen opened #181 "Explorer RPC API extends"
It is necessary to implement methods for calculating the number of accounts created in the context of days/hours

[2022-02-01 07:20] #122 closed, assigned to lostystyg

[2022-02-01 07:24] andyoknen commented on #172
I plan to add the tag 0.20.18-beta3 after accepting two PR (#179 & #180) - one for the test network, the other for the extension of the API Explorer.

I suggest skipping synchronization tests for these edits and limiting ourselves to RPC tests.

[2022-02-02 09:23] andyoknen opened #182 "Implement automatic loading of the checkpoint database file in the absence or inconsistency of the file hash"
_datadir_/checkpoints/main.sqlite3 for main network
_datadir_/testnet3/checkpoints/main.sqlite3 for test network

Latest checkpoint DB:
https://github.com/pocketnetteam/pocketnet.core/releases/latest/download/main.sqlite3

[2022-02-02 09:24] andyoknen commented on #182
Or implement another mechanism for skipping pre-known consensus issues

[2022-02-02 16:03] lostystyg commented on #121
Node is fully usable with frontend on testnet. This had required to fix some rpc methods (typo in name or something like that). I think there will be further issues with rpc but they are all one-second-fixable and they only need to be noticed to fix them. I have started sync in main net with blocksonly=1 and listen=0, will update this issue with results.

[2022-02-02 16:18] andyoknen commented on #121
I can ask our testers to check the functionality of the node from different sides - can you ensure its operation 24/7 or do you need to allocate one of the test servers in the cloud?

[2022-02-02 18:54] lostystyg commented on #121
I think it is not necessary to do this right now because we are targeting 0.21 only after 0.20.19 and there will be a lot other things for testers to check instead of spending time on this "pre-alpha". Also there are still things that i can test myself and i can do this with my personal node without cloud even that i can't run it 24/7. I suggest involve testers afterwards when we will have time fo

[2022-02-02 19:36] andyoknen commented on #121
I support it, we will start testing later

[2022-02-02 19:46] #181 closed, assigned to andyoknen

[2022-02-03 05:13] tawmaz commented on #172
Full sync test passed with tag 0.20.18-beta2 tag.  I will post the amount of time it took to sync compared to 0.20.17 later on.
Upgraded node has also been running and staking without errors.

[2022-02-03 06:28] tawmaz commented on #172
0.20.18 was able to sync to block 1500000 in 54 hours using default settings.

0.20.17 synced to block 1400000 in 83 hours which is more variance than I would expect.  It may have not been connected to enough fast peers, and I was syncing another node at the same time on the same subnet which may have been a factor.  However I do have a fully synced node on the same subnet for both tests.

[2022-02-03 08:22] andyoknen commented on #172
I think we will not be able to get comparable synchronization time figures using standard mechanisms. To do this, we need benchmark tests

[2022-02-03 13:35] andyoknen opened #183 "Video server account transactions"
- [X] Server account (SA) transaction
- [ ] Server account Ping Post transaction
- [ ] Score server account over SA Ping Post

[2022-02-03 13:35] andyoknen opened #184 "WebSocket API interface over NAT"

[2022-02-03 18:49] tawmaz commented on #170
@Dylan-86 please try with 0.20.18 as it has a segmentation fault fix with pocketcoin-qt.  Feel free to re-open this issue if the problem is still present.

[2022-02-03 18:49] #170 closed, assigned to tawmaz

[2022-02-03 19:47] andyoknen opened #186 "UserAccount Badges"
## Statuses
| Status | Balance (PKOIN) | Reputation | Unique <br/> Likers [^2] | Special conditions |
| :- | -: | -: | -: | - |
| None | - | - | - | - |
| Minnow | 5+ | - | - | - | - |
| Sturgeon | 50+ | - | - | - |
| VideoExtend | 250+ | - | - | - |
| Shark | - | 100+ | 100+ | Registration of more than 260'000 blocks |
| Whale (Moderator) | - | 1000+ (?) | 200+ (?) | Registration of more than 520

[2022-02-03 19:48] andyoknen opened #187 "Ratings 1-3 rules"
#186

[2022-02-04 10:52] nnmfnwl7 commented on #147
So finally tested, prebuild binary v0.20.18.0 version from github and seems like staking was enabled and working. So manually compiled from scratch again with `clang version 11.0.1-2` and it was not working. So compiled with `gcc 10.2.1 20210110` and seems like staking enabled and working, but still waiting for first stake to pass. Will see soon. So seems like problem is that CLANG compiler didn't

[2022-02-04 12:14] gab-fer commented on #172
## The results of load testing for the test network.
### test.1.pocketnet.app
[code]

| Test # | Threads / <br/> TX per sec | Count | Time AVG (ms) | Time MAX (ms) | Time MIN (ms) | RPC Pool <br/> exceeded |
| --- | --- | --: | --: | --: | --: | --: |
| 1 | 4 / 2 | 6627| 142| 2315| 80| 0 |
| 2 | 8 / 1 | 23345| 201| 21554| 76| 0 |
| 3 | 16 / 0.5 | 55316| 479| 38297| 76| 533 |
| 4 | 32 / 0.25 | 6756

[2022-02-04 12:20] #172 closed, assigned to andyoknen

[2022-02-04 17:29] only1question opened #188 "Notifications"
- [ ] Double check WS notifications
- [ ] Double check GetMissedInfo
- [ ] Double check all answer params (nameFrom, addressFrom, avatarFrom, e.t.c.) in both types notifications

[2022-02-04 22:57] tawmaz opened #189 "Test PocketNet Transactions"
Create unittest and benchtest of pocketnet transactions to perform validation and performance profiling of PocketNet specific code.

Example workflow of test:
1. Create regtest blockchain
2. Create multiple user account transactions and verify correct creation
3. Make post transactions with user accounts and verify creation
4. Apply ratings to posts with created user accounts and verify ratings
5.

[2022-02-05 10:55] andyoknen commented on #186
| Status | Posts | Articles | Videos | Comments | Ratings <br/> (Content) | Ratings <br/> (Comment) | Flags |
| --- | --: | --: | --: | --: | --: | --: | --: |
| None | 5 | 1 | 5 | 150 | 150 | 300 | 6 |
| Minnow | - | - | - | - | - | - | - |
| Sturgeon | - | - | - | - | - | - | - |
| Shark | 30 | 3 | 30 | 300 | 200 | 300 | 12 |
| Whale | - | - | - | - | - | - | - |
| Barracuda | - | - | - | - | -

[2022-02-05 11:09] #187 closed, assigned to andyoknen

[2022-02-08 12:39] lostystyg opened #192 "Basic code optimizations"
I suggest fill this issue with basic code optimization suggestions (performance and engineering) that are non-critical but could make code more correct.

- [ ] [Here](https://github.com/pocketnetteam/pocketnet.core/blob/eb19bab273a1efa49b89e736c5d3ff56cedefbf5/src/pocketdb/consensus/Helper.cpp#L165) static_pointer_cast is slow because of new shared_ptr creation and even unnecessary, I think using

[2022-02-08 16:04] tawmaz commented on #192
This is more of a code cleanup task, but there are a lot of conditionals in the code that are only relevant for older pre-2018 bitcoin releases which could be removed to simplify the code and improve performance slightly because pocketnet will never hit those code cases.

[2022-02-08 16:07] tawmaz commented on #153
Closing this issue as we had a segmentation fault fix in 0.20.18 which occured when pocketcoin-qt was run with an empty or missing pocketcoin-qt file.

[2022-02-08 16:07] #153 closed, assigned to nobody

[2022-02-08 18:34] andyoknen commented on #192
I would suggest that each participant make edits to the code without much regard for the team - every change will be reviewed anyway. Here we could post discussion links if needed.

[2022-02-08 19:05] nnmfnwl7 commented on #147
Finally said, my issue was related to compiler, pkoin node compiled with clang break staking, node compiled with gcc staking works well.

[2022-02-08 19:35] andyoknen commented on #147
This sounds strange, since I am building a test node for debugging using cmake and have no difficulties. @lostystyg can you help with this issue?

[2022-02-09 08:02] lostystyg commented on #147
CMake is using one of the installed compilers based on toolchain. However, this looks like implementation defined stuff used somewhere in code that is bad. Its known that gcc has some things not related to C++ standard and clang has not but it is strange that using something of this can result in so polite behavior. If it is really implementation defined, then it is important to find out where bec

[2022-02-10 14:39] Dennis-Volk commented on #159
Need to return to the front end, all valid boosts and percentages. On the front end, user may enter different amounts and see what is the % chance to be the first.

[2022-02-13 13:31] ghost opened #194 "Request to add an IP address to the source code"
This issue is a template for a request to add an IP address to the source code of the node. This is necessary to maintain and expand the network so that new nodes can connect to the network using the maximum number of peers.

The current list of nodes can be seen in the file https://github.com/pocketnetteam/pocketnet.core/blob/0.20/contrib/seeds/nodes_main.txt

Please fill in the fields below to r

[2022-02-13 13:33] gf110 commented on #194
also please add 178.217.159.221 and 178.217.159.227

[2022-02-13 17:04] andyoknen commented on #194
@gf110 Did you close the issue because it is irrelevant?

[2022-02-14 06:14] ghost commented on #194
I'm sorry, I'm just learning how to use github

[2022-02-14 19:24] andyoknen commented on #192
The following functions are very generalized, although they do not make sense - only a few fields can be used in finite functions, or even just the fact of the presence/absence of an entry in the database. Refactoring is needed.

https://github.com/pocketnetteam/pocketnet.core/blob/0.20/src/pocketdb/repositories/ConsensusRepository.h
ConsensusRepository::GetFirstContent
ConsensusRepository::GetLas

[2022-02-14 19:25] andyoknen opened #201 "Refactoring ConsensusRepository functions Get(First/Last)Content"
The following functions are very generalized, although they do not make sense - only a few fields can be used in finite functions, or even just the fact of the presence/absence of an entry in the database. Refactoring is needed.

https://github.com/pocketnetteam/pocketnet.core/blob/0.20/src/pocketdb/repositories/ConsensusRepository.h
ConsensusRepository::GetFirstContent
ConsensusRepository::GetLas

[2022-02-14 19:26] #184 closed, assigned to lostystyg

[2022-02-14 19:32] andyoknen commented on #182
Due to the large size of the checkpoint database, it is not possible to use it in the source code. I suggest packing the main and test network checkpoints database into the installer and docker image.

The main problem may be installation in linux. Maybe we can use the /var/... or /opt/... directories

[2022-02-14 19:48] andyoknen commented on #120
In release 0.20.18, the parameters are disabled due to problems starting a node with an existing database - additional research is needed on this
https://github.com/pocketnetteam/pocketnet.core/blob/46fcd72b7810775027b0298af7321d461f88b4f1/src/pocketdb/SQLiteDatabase.cpp#L174

I was also experiencing problems with the sqlsharedcache argument
https://github.com/pocketnetteam/pocketnet.core/blob/46f

[2022-02-16 08:51] andyoknen commented on #75
Simple cache implementation for the RPC API - #202

[2022-02-16 08:54] andyoknen opened #203 "Incompleteness of transactions in the mempool"
Public RPC methods do not include information about inputs if the transaction is in a mempool and has not yet been added to the block and chain.

[code]

[2022-02-16 22:16] tawmaz opened #206 "Advertiser Marketplace Implementation"
This is the tracking issue for development of the Bastyon advertiser marketplace.  The initial proposal is to create a multisig transaction between an advertiser and blogger, which when fully signed will create a post share under the bloggers account of the post created by the advertiser.  The transaction specifies a PKOIN amount which will be transfered from advertiser to blogger.

Here is a very

[2022-02-19 07:36] #203 closed, assigned to andyoknen

[2022-02-19 07:41] andyoknen opened #207 "Limiting the characters of account names"
It is necessary to prohibit any spaces in the name, non-printable characters (%*&$^#, etc.)

Allow next symbols:
abcdefghijklmnopqrstuvwxyz0123456789_

[2022-02-20 12:39] ghost commented on #194
good day! it seems that I submitted my request incorrectly - it is indicated on top in the example.
IPv4-адрес (например, 127.0.0.1): ... 178.217.159.219 и 178.217.159.221 и 178.217.159.227
I edited the example as it was. Please add the following IP addresses to the list 178.217.159.219 и 178.217.159.221 и 178.217.159.227

[2022-02-20 22:01] tawmaz commented on #207
Here is an example account: https://bastyon.com/PWGtSLjQE9W4uu6vdrkMvxxXLvyqXDgj9M

[2022-02-20 22:46] Dylan-86 opened #209 "Duplicated usernames"
Hey everyone. There is a  vulnerability in Bastyon that has been exposed.

https://bastyon.com/PWGtSLjQE9W4uu6vdrkMvxxXLvyqXDgj9M

This user was able to create an account with an identical name to another account.

There is a special character at the beginning of the name that does not appear, and they are unsearchable through the site. They appear in the list, but bring you to a 404 page because

[2022-02-21 04:54] andyoknen commented on #194
OK, we will add you to the next release

[2022-02-21 04:55] andyoknen commented on #207
#209

[2022-02-21 13:26] #209 closed, assigned to nobody

[2022-02-21 13:29] ghost commented on #194
another user gave the go-ahead to add his ip to the list. 46.175.122.243
Unfortunately, not all users are friends with github, so I will ask people who will give consent, I will write here.

[2022-02-21 20:51] ghost commented on #194
Please add the following ip addresses:-46.175.123.77 & 178.217.155.168 & 178.217.155.169 & 178.217.155.170

[2022-02-21 22:55] Dylan-86 opened #213 "v 0.20.18 - Error: block timestamp too far in the future"
Hi,
I launch
`pocketcoind -listen=0 -blocksonly=1`

And at the end I get:
`2022-02-21T16:52:51Z ERROR: AcceptBlockHeader: Consensus::ContextualCheckBlockHeader: cf3a2df0292d8a85724a8e9e086f01a54fea53d8274b359c559a6a0c95a6a079, time-too-new, block timestamp too far in the future (code 16)
`

Ubuntu 21.10, latest version of pocketnet (0.20.18)

What's wrong?

My machine's current time is correct (ES

[2022-02-22 06:56] andyoknen commented on #213
@Dylan-86 The block looks ordinary and its time does not differ from the neighboring ones..
Did you install the node from the release builds or from the source code?
Are there any other errors? Can you attach the full debug.log?

[2022-02-22 07:34] lostystyg opened #215 "RPC cache breaks startup on 0.21"
RPC cache is using [this](https://github.com/pocketnetteam/pocketnet.core/blob/4cc896a9894819df5eedf6b7a11027db7d42dda8/src/rpc/cache.cpp#L12) call to initialize current height. However, in 0.21 this call [requires chain to be already initialized](https://github.com/pocketnetteam/pocketnet.core/blob/a71df76fa8492aec8f6c9c18ef5371ef81548394/src/validation.cpp#L123). Because RPC initialization is mu

[2022-02-22 07:35] lostystyg commented on #215
If this workaround is suitable, i will update bitcoin_upstream branch with it

[2022-02-22 17:38] Dylan-86 commented on #213
Hi,
Installed from the build.

Debug attached.

[debug.log](https://github.com/pocketnetteam/pocketnet.core/files/8118901/debug.log)

[2022-02-22 20:22] metacreo opened #216 "FreeBSD 13 build broken"
[code]

DB5 Installed

[2022-02-23 08:11] andyoknen commented on #213
@Dylan-86 It's really weird, but I can see that the synchronization is going on. Let's wait for full synchronization, or the moment when it stops altogether

[2022-02-23 08:18] andyoknen commented on #216
@metacreo Try configure with --with-incompatible-bdb

[2022-02-23 08:21] andyoknen commented on #215
Sounds reasonable

[2022-02-23 09:13] #161 closed, assigned to tawmaz

[2022-02-23 09:13] #194 closed, assigned to andyoknen

[2022-02-23 09:19] andyoknen commented on #173
@tawmaz With these changes https://github.com/pocketnetteam/pocketnet.core/pull/171, I think we could see if SQLITE_CONFIG_MULTITHREAD affects performance.

[2022-02-23 10:08] #119 closed, assigned to lostystyg, tawmaz

[2022-02-23 14:43] metacreo commented on #216
[code]

[code]

[code]

[2022-02-24 08:51] andyoknen opened #217 "Short forms of accounts and content"
Account:
- Avatar
- Name
- Reputation
- Badge

Content:
- Type
- Caption
- Author (id or full record?)
- Payload part (optional)

[2022-02-24 08:51] andyoknen opened #218 ""Events" API logic"
Two API methods:
- `geteventscount [ address, bottomHeight ]`
  - `address` - account address for filter events
  - `height` - start block height for calculate count of events
- `getevents [ address, topHeight, topHeightTx, pageSize, [ filter ] ]`
  - `address` - account address for filter events
  - `topHeight` - top block height for start pagination
  - `topHeightTx` - pagination start record

[2022-02-24 09:06] andyoknen commented on #216
Oh, apparently the compiler features, maybe try without `MAKE="gmake"` but with `--disable-dependency-tracking`?

[2022-02-24 09:32] metacreo commented on #216
[code]

[code]

[code]

[2022-02-24 09:47] metacreo commented on #216
[code]

[code]

[code]

[2022-02-24 09:48] metacreo commented on #216
`# pkg info |  grep boost`
boost-docs-1.72.0              Documentation for libraries from boost.org
boost-jam-1.72.0               Build tool from the boost.org
boost-libs-1.72.0_6            Free portable C++ libraries (without Boost.Python)
boost_build-4.3.0.20201229     Extensible cross-platform build tool suite

[2022-02-24 10:23] andyoknen opened #219 "Extend `getpostscores` with boost and donation data"
The required result of the method:
[code]

[2022-02-24 10:30] andyoknen commented on #216
I have no way to test freebsd - maybe it will help?
https://stackoverflow.com/questions/35007134/c-boost-undefined-reference-to-boostfilesystemdetailcopy-file

[2022-02-25 05:44] only1question opened #221 "`SearchLinks`"

[2022-02-25 11:39] #221 closed, assigned to only1question

[2022-02-28 06:15] only1question opened #223 "Feeds input parameters"
All feeds requests should accept the same (or most similar) set of parameters

- [x] getprofilefeed
- [x] getsubscribesfeed

[2022-02-28 10:45] #223 closed, assigned to only1question

[2022-02-28 12:43] #164 closed, assigned to only1question

[2022-02-28 12:43] #188 closed, assigned to only1question

[2022-02-28 18:24] #207 closed, assigned to andyoknen

[2022-03-01 01:57] tawmaz opened #225 "v0.20.19 Release"
Tracking issue for 0.20.19 release.  Fixes contained in this release:

- Fix exploit which allows invisible characters and control characters in username
- Add support for boosted content
- Add getboostfeed API method for support of boosted content
- Enable notification for boosted content
- Refactor of API's to retrieve content feeds to be of same format
- Enable RPC cache on nodes for frequently

[2022-03-01 09:16] andyoknen opened #226 "bench_pocketcoin build failed"
Version: v0.20.19-beta1
OS: Linux/Windows
Assembly mechanism: makefile

[code]

[2022-03-01 09:17] andyoknen commented on #226
Workaround - reconfiguration with disabling the benchmark:
[code]

[2022-03-01 12:14] andyoknen commented on #225
Added commit d456b1cb396f2b91b6b77e2c9310c531168e760b to increase the version

It is necessary to make sure before the release that this block will not roll back
https://github.com/pocketnetteam/pocketnet.core/blob/d456b1cb396f2b91b6b77e2c9310c531168e760b/src/chainparams.cpp#L123

[2022-03-01 12:53] andyoknen commented on #225
Updated at the moment d456b1cb396f2b91b6b77e2c9310c531168e760b
[code]

Awaiting update 0.21
[code]

[2022-03-01 18:40] tawmaz commented on #226
It is failing on Linux as well on latest 0.20 tip.  I will suggest we disable bench tests on 0.20 branch and resume bench testing on 0.21 branch because there are significant changes and improvements in the Bitcoin upstream bench test code.

[2022-03-01 18:41] tawmaz commented on #225
All unit tests pass however bench tests will not build due to this issue: https://github.com/pocketnetteam/pocketnet.core/issues/226

[2022-03-02 01:18] tawmaz commented on #226
I will submit a patch soon to fix it.  The order the libraries are specified for bench_pocketcoin matters and needed to be re-shuffled.

[2022-03-02 02:34] tawmaz commented on #225
Bench results:
[code]

[2022-03-02 02:38] tawmaz commented on #226
Submitted a pull request to fix the build for Linux

[2022-03-02 04:18] andyoknen opened #230 "Extend benchmarks"
Bench results:
[code]

__Originally posted by @tawmaz in https://github.com/pocketnetteam/pocketnet.core/issues/225#issuecomment-1056076626__

Great job @tawmaz!

It would be nice to have a little description for these results - what the columns and conclusions mean.

I propose to implement serialization/deserialization benchmarks for Pocketnet transaction models, as well as consensus classes.

[2022-03-02 06:04] tawmaz commented on #225
My testnet node has stopped syncing at block 289521 with v0.20.19.  Are other testnet nodes healthy?

[2022-03-03 07:50] tawmaz commented on #225
Running into the following error when trying to sync on testnet at block 454224:
[code]

[2022-03-03 08:02] #226 closed, assigned to andyoknen, tawmaz

[2022-03-03 08:06] andyoknen commented on #225
I am facing this problem at completely different heights. I found out that some transactions come with an incomplete payload. I assume that there is a node in the test network that incorrectly serializes transactions for transmission to the network. I am testing this hypothesis and thinking about a mechanism for rejecting such data for further attempts to download them from another node.

[2022-03-03 13:20] andyoknen commented on #225
@tawmaz @lostystyg  I think I found the reason.

there is a fix in this branch:
https://github.com/pocketnetteam/pocketnet.core/tree/fix/list_transactions

I think this function does not always write or lose data:
https://github.com/pocketnetteam/pocketnet.core/blob/44ac6d2b343348c43935e0ef59bb458bb6e93ba2/src/pocketdb/repositories/TransactionRepository.cpp#L120-L125

I also think it makes sense t

[2022-03-03 18:04] Aizner opened #234 "93.100.117.108"
This issue is a template for a request to add an IP address to the source code of the node. This is necessary to maintain and expand the network so that new nodes can connect to the network using the maximum number of peers.

The current list of nodes can be seen in the file https://github.com/pocketnetteam/pocketnet.core/blob/0.20/contrib/seeds/nodes_main.txt

Please fill in the fields below to r

[2022-03-03 18:59] tawmaz commented on #225
Added new tag v0.20.19-beta2 and restarting testing from that tag.

[2022-03-03 21:34] tawmaz commented on #225
All unit tests pass on the tag v0.20.19-beta2

[2022-03-04 07:15] andyoknen commented on #225
Added RPC API fixes in [v0.20.19-beta3](https://github.com/pocketnetteam/pocketnet.core/releases/tag/v0.20.19-beta3)

[2022-03-04 15:55] tawmaz commented on #225
My testnet node was able to fully sync without issue on v0.20.19-beta2.  Switching over to tag v0.20.19-beta3.

[2022-03-05 16:53] tawmaz commented on #225
Running full sync test on mainnet from node at IP 35.87.194.183.  It is just past block 1000000 and should be completed in a few more days.

[2022-03-06 11:47] metacreo commented on #216
So ... build success with no errors but small src modification needed. I just compared bitcoind and pocketnet sources and found solution.
src/util.cpp SetupEnvironment
lines 1212, 1213 commented

[code]

[2022-03-06 15:23] andyoknen commented on #216
We are preparing a big update - version 0.21.0 - at the moment, the main innovation is the synchronization of the code with the current versions of bitcoin. Maybe it will be more compliant with FreeBSD?

[2022-03-06 17:19] tawmaz commented on #225
Syncing is blocked at block 1044030, hash 66ee85eb70d58c50611521b803d938891a6d52ba25635cdf05464a2263754f59.  Here is the error message from the log:

2022-03-06T16:09:41Z WARNING: SocialConsensus validating failed with result 6 for block 66ee85eb70d58c50611521b803d938891a6d52ba25635cdf05464a2263754f59
2022-03-06T16:09:41Z ERROR: ConnectTip: ConnectBlock 66ee85eb70d58c50611521b803d938891a6d52ba2563

[2022-03-06 17:21] tawmaz opened #236 "Sync social consensus failure at block 1044030"
When performing full sync test of blockchain for 0.20.19 release an error was encountered at block 1044030 which prevents the node from syncing.  Here is the error message:

[code]

[2022-03-07 09:08] andyoknen commented on #236
Fixed in #238

[2022-03-07 10:47] #236 closed, assigned to nobody

[2022-03-07 10:56] andyoknen commented on #225
Added some fixes in [v0.20.19-beta4](https://github.com/pocketnetteam/pocketnet.core/releases/tag/v0.20.19-beta4)

[2022-03-07 12:49] andyoknen opened #240 "A special case of Content - Refutation"
- Take a Repost as a basis
- The link should point to the version of the Post at the time of creation of the Refutation - TxHash
- Implement a RPC method for paginated Refutation feed
- Include the number of Refutations in the content element (Post, Video, Article)

[2022-03-07 18:27] tawmaz commented on #225
All unit tests pass with v0.20.19-beta4
Upgrade was successful on testnet and mainnet.  Restarting block sync test on both networks.

[2022-03-09 12:18] #234 closed, assigned to andyoknen

[2022-03-09 17:11] tawmaz commented on #225
Sync test against mainnet is at block 1513778 and should finish today.  I will try to get upgrade and client performance tests kicked off today or early tomorrow.

[2022-03-10 08:07] tawmaz commented on #225
Sync completed on mainnet, and upgrade succeeded on one of my staking nodes.  I'll run perf tests tomorrow.

[2022-03-10 16:24] lostystyg commented on #216
@metacreo you can try to launch with gdb:  `gdb ./pocketcoind` and then `start`. When you catch segfault, call `frame` to get the place and `bt` to get the call stack

[2022-03-11 00:37] tawmaz commented on #225
Staking node looks good and was able to successfully stake 10+ times.  I ran the load test which shows 150kops per 5 minute period.  This is with 2 i5 8GB systems connected in a client server setup over a 1GbE switch.
![image](https://user-images.githubusercontent.com/87295914/157778980-87390dd9-13ec-40f6-b105-5ff1e0a0ded0.png)

[2022-03-14 10:44] gab-fer commented on #225
## The results of load testing for the test network.
### test.1.pocketnet.app
[code]

| Test # | Threads / <br/> TX per sec | Count | Time AVG (ms) | Time MAX (ms) | Time MIN (ms) | RPC Pool <br/> exceeded |
| --- | --- | --: | --: | --: | --: | --: |
| 1 | 4 / 2 | 6654 | 132 | 1734 | 93 | 0 |
| 2 | 8 / 1 | 20710 | 362 | 28790 | 94 | 15 |
| 3 | 16 / 0.5 | 49934 | 626 | 82275 | 92 | 3257 |
| 4 | 32

[2022-03-15 11:22] andyoknen commented on #225
Published the tag [v0.20.19](https://github.com/pocketnetteam/pocketnet.core/releases/tag/v0.20.19)

[2022-03-19 18:48] #225 closed, assigned to nobody

[2022-03-20 20:29] d4rk5eed opened #250 "Build fails in src/staker.cpp for `--disable-wallet`"
**Describe the bug**
When application been built for `./configure --disable-wallet` it fails with `use of undeclared identifier 'CheckStake'` in src/staker.cpp

**To Reproduce**
Steps to reproduce the behavior:
1. ./autogen.sh
2. ./configure --disable-wallet
3. make

**Expected behavior**
Build success

**Desktop (please complete the following information):**
 - Version 0.20
Apple clang version 12

[2022-03-20 21:19] d4rk5eed commented on #250
It's finally failed with
[code]
I see the same problem with

[2022-03-21 22:01] lostystyg commented on #215
Suggested fix has been already applied in 0.21

[2022-03-21 22:01] #215 closed, assigned to nobody

[2022-03-23 18:01] tawmaz commented on #250
We have never actually had a functioning build for Apple architecture.  It would be nice to get it working as we have had multiple requests from people wanting to run it on older macs.

[2022-03-25 14:59] d4rk5eed commented on #250
@tawmaz thanks for reply. I can fix it, but seems that issue is not about mac rather than it's about methods' declarations

[2022-03-25 20:53] tawmaz commented on #250
We don't normally build with --disable-wallet so it is likely there are some issues there.  Why do you want to build with wallet disabled?

[2022-03-28 08:39] only1question opened #251 "Removing comments"
The content author can remove any comments under their content.

[2022-03-31 01:34] tawmaz opened #252 "0.21 pocketcoin-qt exception on launch when loading wallet"
Pocketcoin-qt fails with exception when attempting to load wallet, with message "CDataStream::read(): end of data: iostream error".  Exception occurs in function RecentRequestsTableModel::addNewRequest when serializing requests from the wallet.
Error is not seen with 0.20.19 build.

Stack below:
[code]

[2022-03-31 17:09] andyoknen opened #253 "Banning links in comments for accounts with a pre-threshold reputation"
Reputation below 100

[2022-03-31 20:19] lostystyg opened #254 "Automated wallet creation"
There is no longer default wallet in 0.21 and it is only created manually by "createwallet" rpc request.
We should automate creating default wallet and enable autoloading for it.

[2022-03-31 20:31] lostystyg opened #255 "Boost transaction max fee"
There is a lot of logic reworked around max tx fee in 0.21.
It seems like max tx fee is no longer a part of the consensus and is only used on user's side during transaction generating.
**Every** node should be able to generate boost transactions with extremely high tx fees and these transactions should not be rejected by consensus rules.

[2022-03-31 21:16] tawmaz commented on #252
It appears to be only an issue with pocketcoin-qt and the RecentRequestsTableModel class which is only used by pocketcoin-qt.  pocketcoind was able to load my wallet correctly, fully sync, and display my balance.
I will check to see if there are some changes which did not get merged over from bitcoin.

[2022-03-31 23:30] tawmaz commented on #252
In the 0.21 branch there appears to have been some big changes to walletmodel.cpp which is in the code stack of this crash in this commit here: https://github.com/pocketnetteam/pocketnet.core/commit/87dc9c573ee651cb6472b7362a8ef3b05c0f420c

The code appears to be different from both bitcoin core and 0.20 branch.

[2022-04-01 08:37] lostystyg opened #256 "Long shutdown 0.21"
Shutdown time is increased a lot n 0.21.
This is because staker thread (and probably someone else) is not exit its loop immediately after shutdown called.

[2022-04-01 14:42] andyoknen opened #257 "Create a flag transation"
https://github.com/pocketnetteam/pocketnet.core/wiki/BP1:-Jury-Based-Moderation-Platform#stage-1

Technical details:

This transaction should replace the `Complain` transaction

OP_RETURN code:
String - `modFlag`
Hex - `6d6f64466c6167`

Payload:
[code]

[2022-04-01 16:02] lostystyg commented on #252
The code is absolutely the same as in bitcoin core at [af591f2](https://github.com/bitcoin/bitcoin/commit/af591f2068d0363c92d9756ca39c43db85e5804c) because there were no changes from us in walletmodel.cpp except renaming all to pocket.

Also, i'm unable to reproduce this, my wallet is loaded well. I've tried both wallets created with 0.20 and 0.21 and both were loaded well. However, i used fresh c

[2022-04-01 19:15] tawmaz commented on #252
Attached the testnet wallet file which was used to repro this.

[wallet.zip](https://github.com/pocketnetteam/pocketnet.core/files/8400344/wallet.zip)

[2022-04-02 16:09] #253 closed, assigned to nobody

[2022-04-02 16:09] andyoknen opened #259 "Windows cross compilation fail"
[code]

[2022-04-04 04:03] tawmaz commented on #173
I am not sure if it is related, but I am seeing very slow sync performance on one of my nodes.  From bench logging it appears SQLite is very slow.  The system has a fast NVMe SSD drive.  Here are some of the samples from ProcessBlock:
[code]

[2022-04-04 08:02] andyoknen commented on #173
Actual version?

[2022-04-04 16:42] andyoknen commented on #17
Initial table System with Version column in PR #260

[2022-04-04 16:42] #17 closed

[2022-04-04 16:56] andyoknen commented on #213
@Dylan-86 Do you have any updates on this issue?

[2022-04-04 17:36] lostystyg commented on #252
The problem is in serialization for SendCoinsRecipient class.
e020490188648a1444119c6115241b2cc506b5b0 introduced serialization changes and removed serializing field `sPaymentRequest` from SendCoinsRecipient class for 0.20. Later, for 0.21 SendCoinsRecipient class was extracted from walletmodel.h to different file and `sPaymentRequest` was [returned](https://github.com/pocketnetteam/pocketnet.core

[2022-04-04 17:39] lostystyg commented on #252
@andyoknen said he can test this issue's reproducibility on a lot of different wallets, so we can be sure that this is not a specific problem to the wallet @tawmaz attached.

[2022-04-04 18:03] Dylan-86 commented on #213
It seems that it's solved, I didn't really do anything, it was something temporary

[2022-04-04 18:24] lostystyg commented on #259
Should be fixed in 0c5c9ada506024ff00659f6d0b1cfdfb1e6a8dfe

[2022-04-05 03:52] tawmaz commented on #252
It looks like it was my mistake when porting to the new serialization functions.  It would be worth enabling qt/test/wallettests.cpp which would catch this issue.

[2022-04-05 05:05] tawmaz commented on #252
One idea would be to perform the deserialization in a try-catch, and if we encounter the overrun serialization issue perform the incorrect serialization from 0.20.19 to update the wallet to the new format.  Let me know if you want me to retake this issue @lostystyg

[2022-04-05 08:42] #213 closed, assigned to nobody

[2022-04-05 15:21] lostystyg commented on #259
`make deploy` also failed because of missing *pocketcoin-wallet* binary that was temporarily disabled because of lots building issues. 5e036830024cd5f69edb5988d13c86399fbeef98 fully disables *pocketcoin-wallet* and fixes `make deploy`.

[2022-04-10 00:29] jkaldon opened #263 "404 not found zlib-1.2.11.tar.gz from www.zlib.net. Fallback "pocketcoincore.org" domain does not exist."
**Describe the bug**
The archive zlib-1.2.11.tar.gz is no longer hosted at www.zlib.net.  The fallback domain is also invalid.

**To Reproduce**
Steps to reproduce the behavior:
1. git clone --depth 1 --branch v0.20.19 https://github.com/pocketnetteam/pocketnet.core.git
2. cd pocketnet.core/depends
3. make download-linux
4. See error

**Expected behavior**
zlib archive should be downloaded.

**Scr

[2022-04-10 20:43] jkaldon commented on #263
After updating `depends/packages/zlib.mk` with the following version and hash, I was able to build successfully.

[code]

Let me know and I can submit a patch, if this is the preferred fix.

[2022-04-11 07:01] andyoknen commented on #263
@jkaldon It would be very nice of you - we will accept your PR in one of the next releases.

[2022-04-11 09:01] only1question opened #264 "Recommendations"
Add web api methods for recommendations
1) Recommendations based on address subscriptions
2) Recommendations based on address subscribeers
3) Recommendations based on top contents
4) Recommendations based on tags

[2022-04-11 09:52] andyoknen opened #267 "Expanding the functionality of RPC caching"
## Stage 1
Implement the logic of choosing a method for clearing cached data:
- number of blocks to indicate the lifetime.
- manually clearing from the outside

## Stage 2
Implement access to the cache object from third-party classes, for example DB Repository or RPC interface

[2022-04-11 13:28] andyoknen opened #268 "v0.20.20 Release"

[2022-04-11 17:17] jkaldon commented on #263
@andyoknen Sorry, I just realized that I need some guidance on things like "Which branch should I create my branch from?"  "What should I name my branch?", etc.

I'm want to submit other PRs in the future, so this is a learning investment I should make.  I reviewed the content of `doc/developer-notes.md`, but it references a master branch...which doesn't exist.  I see the default branch is `0.20`,

[2022-04-12 03:15] jkaldon commented on #263
@andyoknen Let me know if my PR needs to be rebased on another branch.  Or if I need to do anything else.

[2022-04-12 11:28] only1question opened #271 "active actions on the content"
Adding a method that returns active actions on the content (scores, boost, donate)

[2022-04-12 14:13] andyoknen commented on #218
- New content from POCKETNET_TEAM

- New content from Private subscribes

- New comments in my content

- Answers for my comments

- Scores to my contents and comments

- New subscribers

- New Boost to my content

- Incoming money

- New registered Referral

- New reposts my content

[2022-04-12 20:12] #263 closed, assigned to nobody

[2022-04-12 20:13] #259 closed, assigned to nobody

[2022-04-12 20:13] #257 closed, assigned to andyoknen

[2022-04-14 04:38] #264 closed, assigned to only1question

[2022-04-14 04:38] #271 closed, assigned to only1question

[2022-04-14 04:42] andyoknen commented on #268
Added [v0.20.20-beta1](https://github.com/pocketnetteam/pocketnet.core/releases/tag/v0.20.20-beta1) for testing

[2022-04-14 18:38] tawmaz commented on #206
Pull request for block chain implementation is still in progress here: https://github.com/pocketnetteam/pocketnet.core/pull/261

Remaining tasks:
- Update design doc with implementation instructions for front-end
- Set chainparams "fRequireStandard" back to true and add checks to verify AdPost script as standard
- Queries to for advertisers to find users with high follow counts and reps (probably

[2022-04-15 20:37] tawmaz commented on #268
All Unittests pass.  Bench results below:
[code]

[2022-04-18 05:34] gab-fer commented on #268
## The results of load testing for the test network.
### test.1.pocketnet.app
[code]

| Test # | Threads / <br/> TX per sec | Count | Time AVG (ms) | Time MAX (ms) | Time MIN (ms) | RPC Pool <br/> exceeded |
| --- | --- | --: | --: | --: | --: | --: |
| 1 | 4 / 2 | 6574 | 130 | 24962 | 86 | 0 |
| 2 | 8 / 1 | 24104 | 165 | 21817 | 86 | 0 |
| 3 | 16 / 0.5 | 67480 | 321 | 17739 | 85 | 0 |
| 4 | 32 /

[2022-04-18 22:22] tawmaz commented on #268
Started sync test with 20.20 tag [v0.20.20-beta1](https://github.com/pocketnetteam/pocketnet.core/releases/tag/v0.20.20-beta1)

[2022-04-20 12:27] andyoknen commented on #268
I have added a tag [v0.20.20-beta3](https://github.com/pocketnetteam/pocketnet.core/releases/tag/v0.20.20-beta3) - the changes are mainly related to RPC and contain an important change to increase the block size. At the very beginning of development, we increased the maximum block size to 16 MB, but did not increase the variable in the network protocol. We encountered a synchronization error in th

[2022-04-25 14:19] #268 closed, assigned to andyoknen

[2022-04-25 15:41] lostystyg commented on #218
#279 in progress

[2022-04-26 20:17] tawmaz commented on #206
These above tasks have been completed as part of this pull request: https://github.com/pocketnetteam/pocketnet.core/pull/261

[2022-04-26 21:29] tawmaz commented on #206
Remaining tasks for support of front end:
- API to report AD Post requests for user account
- API to query user accounts with a certain number of followers

[2022-05-02 12:09] lostystyg opened #280 "Push notifications"
RPC request with `height` as a parameter that represents concrete single block.  Node parses block and group interested transactions in short form (#217) by user addresses.
- Option 1
Response contain all addresses from block, proxy filters interesting addresses itself.
~- Option 2
RPC request also accepts a list of addresses for filtering on the node side~

[2022-05-02 12:13] lostystyg commented on #218
All transactions listed above should be moved to notifications (#280) and will not require scanning for entire chain. Events should contain all transactions that were issued by the address, not related to it

[2022-05-03 14:18] lostystyg commented on #217
_"?" represent optional values._

Short form Tx structure:
[code]
`type` represents the type of whole short form whereas txType represents literally the type of tx such short form contains. It is one of the following:
  - `"pocketnetteam"`
  - `"money"`
  - `"referal"`
  - `"answer"`
  - `"comment"`
  - `"subscriber"`
  - `"commentscore"`
  - `"contentscore"`
  - `"privatecontent"`
  - `"boost"`

[2022-05-04 10:17] andyoknen commented on #218
I will update the SQL query as it is optimized. Here is the first prototype, which includes only a part of the queries and satisfies the minimum execution time.

[code]

## New indexes
[code]

[2022-05-05 08:52] only1question opened #281 "Create subscription/unsubscribe to filter list"
Create a subscription /unsubscription to an account from which to take a list of blocked users.
Apply this list according to the usual rules of your own blocks.

- [ ] Transaction subscribe to filter list
- [ ] Transaction unsubscribe from filter list
- [ ] Return all filter lists in UserProfile
- [ ] Consider filter lists in all antibot rules (impossibilу to rate, comment etc)

[2022-05-05 18:48] andyoknen commented on #192
[code]

[2022-05-06 08:09] andyoknen opened #283 "SQL Optimizations"
[code]

_Originally posted by @andyoknen in https://github.com/pocketnetteam/pocketnet.core/issues/192#issuecomment-1118933138_

[2022-05-07 10:46] lostystyg commented on #267
Also for now there is a bit mess up: unique cache object is created for each table, however it follows logic (in size, supported methods, etc) of one cache for every RPC table. Need to use one cache object for all or split cache size and supported methods between corresponding RPC tables

[2022-05-10 07:43] #283 closed, assigned to andyoknen

[2022-05-12 08:47] only1question opened #287 "Fix WebSocket notifications"
When any errors occur, the websocket thread is automatically terminated. And the websocket notification process stops.

<img width="981" alt="image" src="https://user-images.githubusercontent.com/11753842/168028319-94e27d59-2c2c-4c8a-8215-df8878dcdef6.png">

It is necessary to log errors, but the websocket thread should be continue

[Remove flag "fRunning = false" in src/eventloop.h in section cat

[2022-05-12 09:23] only1question commented on #287
Fixed in commit [cd559aa10b0ab89479be9d37593e87a560e927d2](https://github.com/pocketnetteam/pocketnet.core/commit/cd559aa10b0ab89479be9d37593e87a560e927d2)

[2022-05-12 09:23] #287 closed, assigned to only1question

[2022-05-17 07:14] only1question commented on #219
Implemented in issue [271](https://github.com/pocketnetteam/pocketnet.core/issues/271)

[2022-05-17 07:14] #219 closed, assigned to andyoknen

[2022-05-17 08:23] andyoknen opened #290 "Block create same symbols in login"
...

[2022-05-17 10:07] only1question opened #291 "Make it possible to create timelock transactions using mempool"
Make it possible to create timelock transactions using a mempool.
And store transactions in mempool for 24 hours

[2022-05-18 11:14] andyoknen commented on #256
I'm trying to solve this problem here https://github.com/pocketnetteam/pocketnet.core/pull/284

This method ignores some threads because `m_fRunning = false`
https://github.com/pocketnetteam/pocketnet.core/blob/0954d8c76aed0611e887f88cfdec6dcd5ac863eb/src/eventloop.h#L197-L208

Perhaps this is due to the number of threads - I tested on a system that runs more than 100 threads for public RPC

[2022-05-18 11:22] only1question commented on #159
Not relevant yet

[2022-05-18 11:22] #159 closed, assigned to only1question

[2022-05-19 13:22] #267 closed, assigned to lostystyg

[2022-05-20 07:56] #291 closed, assigned to only1question

[2022-05-23 06:40] only1question opened #294 "Implement lists of contents (playlists)"
Tranactions:
- [ ] Create list
- [ ] Change list (add/remove items)
- [ ] Remove list

[2022-05-24 10:35] andyoknen opened #297 "Block actions of A with B's content if B has blocked A's account."
- [x] Scores
- [x] Comments
- [x] Reposts

[2022-05-24 10:45] andyoknen opened #298 "Changing the accounting of reputation"
...

[2022-05-24 14:22] andyoknen commented on #186
## General Account Badges
| Badge | Unique <br/> Likers [^2] | Special conditions |
| :- | -: | - |
| Minnow | - | - |
| Sturgeon | ? | - |
| Shark | ? | Count of Content - `X`, Count of Comment - `Y`, Registration period - `Z`  |

## Additional Account Badges
| Badge | Unique <br/> Likers [^2] | Special conditions |
| :- | -: | - |
| Whale (Moderator Type 1) | - | `MODERATOR_REGISTER` Transaction

[2022-05-25 19:16] the-real-vortex-v commented on #256
Nothing in the process is being shut down it seems. When I look at the running process in windows all the network activity is still happening happily.

I'm running it on windows 10. Someone else also mentioned this bug this week in the node chat.

[2022-05-28 04:44] the-real-vortex-v commented on #298
Removing/limiting the reputation system and not having an immediate replacement to moderate copypasta bots (the swave of accounts that scrape imgur and other sites) is really ruining the experience of the platform. There are now dozens/hundreds of accounts doing this on a daily basis. It looks really bad and inorganic.
By removing the moderation and not having features like the one mentioned in th

[2022-05-30 12:37] lostystyg commented on #280
### Required order of selects for all notifications. Every field except 1,6 and 7 is optional

* // Notifier data
  * 1 Address
  * 2 Lang
  * 3 Name
  * 4 Avatar
  * 5 Reputation
* 6 Short form type
* // Tx data
  * 7 Hash
  * 8 Type
  * 9 Address of tx creator
  * 10 Height
  * 11 BlockNum
  * 12 Time
  * 13 RootTxHash
  * 14 Post hash (e.x. for comments)
  * 15 Value
  * 16 Inputs
  * 17 Output

[2022-05-31 15:09] andyoknen commented on #256
Fixed in https://github.com/pocketnetteam/pocketnet.core/pull/284/commits/932d3a6cd6e82e32023477ffbcae49e377957894

[2022-05-31 15:09] #256 closed, assigned to lostystyg

[2022-06-01 08:48] #298 closed, assigned to andyoknen

[2022-06-04 15:43] the-real-vortex-v opened #303 "RPC help command no longer lists any of the pocketnet RPC calls or their related help information."
I just went into the debug console on the windows executable and typed in help.

I get a list of all of the normal bitcoin related RPC calls but none of the pocketnet exclusive calls returned.

**Expected behavior**

The previous versions all showed the pocketnet RPC calls.

**Screenshots**

21:31:50
￼
== Blockchain ==
getbestblockhash
getblock "blockhash" ( verbosity )
getblockchaininfo
getblockc

[2022-06-10 05:08] andyoknen commented on #303
This happened because we separated the interfaces for private and public api. Until they got their hands on the implementation of the public help method. We will do it as soon as possible.

[2022-06-10 06:44] the-real-vortex-v commented on #303
Thank you because it makes platform independent interfaces and debugging much easier if there's help and the rpc methods are accessible via public and private rpc.
Are public and private rpc calls identical? perhaps that should be made clear when displaying help in the future?

[2022-06-10 09:13] andyoknen commented on #218
[code]

[2022-06-10 09:32] andyoknen commented on #303
They differ both in meaning and content
Here is the starting point, where all the methods of the public API that clients work with are indicated.
https://github.com/pocketnetteam/pocketnet.core/blob/0.20/src/pocketdb/web/PocketRpc.cpp

[2022-06-10 10:35] only1question opened #304 "SQL query optimization"
It is necessary to check all SQL queries for correct syntax with recommendations for optimization according to the
[official SQLite documentation](https://www.sqlite.org/optoverview.html)

[2022-06-12 04:00] the-real-vortex-v commented on #303
Ok. So to clarify and make sure I understand what you are saying:
The public and private interfaces are seperated. Help is not working in the public interface.

The debug console is using the public interface or the private interface? Why would you have any real distinction between the two? Is it because one is not encrypted by default? (http instead of https for example?)

[2022-06-13 11:02] andyoknen commented on #303
They are separated due to security issues. Private (port 37071) should not be accessible from the outside - API methods for node and wallet management are located here. Public (port 38081) does not contain any logic related to node management.

[2022-06-14 09:18] andyoknen commented on #303
I raised this question - in fact, everything works for the public interface. You only need to specify the port. Of course, the description of the commands is lame - we have a problem with documentation, somehow it does not merge with this, we need help with documentation.

[code]

[2022-06-14 14:16] the-real-vortex-v commented on #303
There should be a bunch of blockchain related stuff exposed on the public rpc.
Such as:
getbestblockhash
getblockcount
getblockhash height
getchaintips

I can see these being useful for tools to query nodes. Perhaps toggle what can appear in the public rpc via the config file? If you think that's a good idea then opening a feature request might be a good idea.

At the very least getbestblockhash a

[2022-06-15 09:41] andyoknen commented on #303
`getnodeinfo` - gives general information about the node, as well as the last block

To get information about a specific block, the following methods can be used:
`getcompactblock` - Where the first argument is the hash of the block, and the second is the height. Arguments are passed by the principle OR
`getlastblocks` - The first argument is the number, the second is from what height to start cou

[2022-06-21 08:53] #297 closed, assigned to andyoknen

[2022-06-21 08:53] #125 closed, assigned to only1question

[2022-06-24 09:08] SSLvzaimodaystvie1 commented on #121
Извините по ходу мне, здесь не комфортно ключевое слово, вчерашней проблемы. Заблудился хочу выполнить требование обновиться, а где это чудесное для "чайников" место, не ужели на газовой плите!?  И нам опять к Адольфу  на поклон, что бы он о бабушке своей, не так сильно переживал, в среде "чайников" в обновлениях открытых дорог, в светлое будущие приятного и комфортного общения Яндекс с каналом Кь

[2022-06-27 09:45] andyoknen opened #308 "Staking activation only in the presence of active peers"
Argument `DEFAULT_STAKINGREQUIRESPEERS` - `true`

[2022-06-27 09:48] andyoknen opened #309 "Web DB Shark account precalculating"
Add a table to store the current list of accounts with badges flag - `Web.Badges`

[code]

Where `Type`:
- 1 = Shark
- 2 = Whale
- 3 = Moderator ?
- 4 = Developer ?

[2022-06-27 09:48] andyoknen opened #310 "Up limits"
- ConsensusLimit_full_post - 30
- ConsensusLimit_full_video - 30
- ConsensusLimit_full_article - 3
- ConsensusLimit_full_score - 100
- ConsensusLimit_full_comment - 200
- ConsensusLimit_full_comment_score - 200

[2022-06-27 09:51] andyoknen opened #311 "Pre-calculation of authors with the number of comments from sharks"
Calculation results in the table - `Web.Authors`

[2022-06-27 10:04] only1question opened #312 "Hierarchical and top feed changes"
1. In hierarchical feed:
- Do not use user reputation
- Instead of ratings of 5 previous posts, use the sum of ratings (from tops) on comments under the last 5 posts
2. Change the top feed to the most talked about

[2022-06-27 10:07] only1question opened #313 "Multiple blocks"
- [x] List of who rated the account
- [x] In the block transaction, make it possible to accept an array

[2022-06-27 10:10] only1question opened #314 "Adding account statistics"
Calculation of the number of commenters more than N times in a period of time / all the time

[2022-06-27 12:13] lostystyg commented on #218
**"getevents"** request.

Params:
  - `address`
  - `maxHeight` # height to start search from. Default - current height
  - `blockNum` # num of tx in `maxHeight` to start search from (non included). This is required for correct pagination. Default - 999999
  - `filters` # an array of shortform types, corresponding to ones described in #217. If empty or not specified - search for everything.

The d

[2022-06-28 14:43] #310 closed, assigned to andyoknen

[2022-06-28 14:44] #308 closed, assigned to andyoknen

[2022-06-30 11:13] #309 closed, assigned to andyoknen

[2022-06-30 11:59] #314 closed, assigned to only1question

[2022-07-04 03:48] the-real-vortex-v opened #329 "More detailed network traffic statistics."
I'd like to get some more resolution of network bandwidth statistics.
Currently there's only total incoming and total outgoing listed in the chart. I'd like to see some more stats like: RPC (in and out), RPC private (in/out), node only related traffic.

**Is your feature request related to a problem? Please describe.**
Currently when we look at node bandwidth we can't see if it's being used for se

[2022-07-04 10:00] only1question opened #330 "Add most commented feed"
Implemented most commented feed.
The feed should be built like "Top posts". Only sorted by number of comments.

[2022-07-05 07:15] only1question opened #332 "v0.20.25 Release"

[2022-07-05 07:17] only1question commented on #332
Added [v0.20.25-beta3](https://github.com/pocketnetteam/pocketnet.core/releases/tag/v0.20.25-beta3) for testing

[2022-07-05 07:22] #330 closed, assigned to only1question

[2022-07-05 07:36] only1question commented on #332
Added one more Api get method in [v0.20.25-beta4](https://github.com/pocketnetteam/pocketnet.core/releases/tag/v0.20.25-beta4)

[2022-07-05 07:46] gab-fer commented on #332
## The results of load testing for the test network.
### test.1.pocketnet.app
[code]

| Test # | Threads / <br/> TX per sec | Count | Time AVG (ms) | Time MAX (ms) | Time MIN (ms) | RPC Pool <br/> exceeded |
| --- | --- | --: | --: | --: | --: | --: |
| 1 | 4 / 2 | 6096 | 236 | 1971 | 87 | 0 |
| 2 | 8 / 1 | 22401 | 266 | 9721 | 88 | 0 |
| 3 | 16 / 0.5 | 62472 | 399 | 24773 | 87 | 0 |
| 4 | 32 / 0.

[2022-07-06 13:30] lostystyg commented on #280
## TODO: outdated
### Request description

"getnotifications" rpc request

Returns all notifications for all addresses from concrete block height

Params:
  - `height` # height  to search for notifications
  - `filters` # an array of shortform types, corresponding to ones described in #217. If empty or not specified - search for everything.

Response is a map, where keys are addresses of accounts

[2022-07-06 16:08] only1question commented on #332
Bench results:

|               ns/op |                op/s |    err% |     total | benchmark
|--------------------:|--------------------:|--------:|----------:|:----------
|        4,659,814.00 |              214.60 |    0.2% |      0.05 | `AssembleBlock`
|            2,362.96 |          423,197.80 |    0.2% |      0.01 | `Base58CheckEncode`
|            1,057.94 |          945,233.27 |    0.1% |

[2022-07-08 10:37] #332 closed, assigned to nobody

[2022-07-12 12:16] andyoknen commented on #329
Hmm, these thoughts coincide with mine lately. In fact, there is a part of the described functionality in the logging levels, which I want to put into a separate API method. Logging "stat" and "statdetal"

[code]

This logging level adds minute-by-minute statistics to the log file.
To regulate the accumulation time of statistics, use the configuration argument "statdepth" = 60 seconds by default

[2022-07-13 09:58] only1question opened #333 "Comments API improvements"
- [x] Set cache time for getlastcomments to 1
- [x] Set cache time for getcomments to 1
- [x] Add all possible addresses "from/to" in getlastcomments

- the address of the content author
- the address of the author of the comment to whom the reply is addressed
- the address of the author of the parent comment

[2022-07-13 10:00] only1question commented on #333
Done in commit [497a253a5a4ccc9e2bd02804f190a0a3cbdb599d](https://github.com/pocketnetteam/pocketnet.core/tree/497a253a5a4ccc9e2bd02804f190a0a3cbdb599d)

[2022-07-13 10:00] #333 closed, assigned to only1question

[2022-07-13 10:05] only1question opened #334 "Profile feed API improvements"
- [x] Add a searchable string filter
- [x] Add sorting capability (preserve pagination)
- Sort by publication date
- Sort by number of comments
- Sort by number of ratings

[2022-07-13 10:06] only1question commented on #334
searchable string filter - [89d0d0ef4fd50eaf19df61ce55b98f176a4d28eb](https://github.com/pocketnetteam/pocketnet.core/tree/89d0d0ef4fd50eaf19df61ce55b98f176a4d28eb)

[2022-07-13 10:15] only1question opened #335 "Implement Ping/Pong request for webSocket connection"
To support WebSocket connections for a long time, it is necessary to implement the Ping and Pong requests.

[2022-07-13 14:35] lostystyg commented on #280
# TODO: outdated
## Concrete examples of format for all ShortForms types

### Pocketnetteam Posts
[code]

### Money
[code]

### Answer
[code]

### Private content
[code]

### Boost
[code]

[2022-07-13 15:35] lostystyg opened #336 "Activities"
A feed of all activities that were made by a user in #217 format.
#302 in progress.

[2022-07-18 09:35] only1question commented on #334
sorting capability - [705f200182d1a3278b1654f99ac000d4a722ef21](https://github.com/pocketnetteam/pocketnet.core/commit/705f200182d1a3278b1654f99ac000d4a722ef21)

[2022-07-18 09:35] #334 closed, assigned to only1question

[2022-07-18 14:36] lostystyg commented on #280
Work on this issue will continue in #337 and will be pulled to #302

[2022-07-20 14:43] lostystyg commented on #256
#339 related

[2022-07-28 10:39] lostystyg opened #343 "Memory consumption not dropped after leaving initial block download state"
Node for some reason do not correctly flash state on disk without rebooting. This results in big memory consumption after synchronization until shutdown.
Reproducible in 0.20 but i have strong feelings that 0.21 has the same behavior.

[2022-08-05 11:07] #329 closed, assigned to nobody

[2022-08-05 11:08] #311 closed, assigned to andyoknen

[2022-08-05 11:09] #303 closed, assigned to nobody

[2022-08-08 11:04] #335 closed, assigned to only1question

[2022-08-10 07:25] lostystyg commented on #336
### Request description
`getactivities`
Parameters:
  - `address` # an address to search it's activities for
  - `height` # height to start search from (including). If not specified or null - current chain height
  - `blocknum` # tx's number to start search from at `height` block (excluding). For all other blocks in search range this  argument is ignored. If not specified or null - 999999
  - `fil

[2022-08-11 18:56] #182 closed, assigned to nobody

[2022-08-11 18:56] #174 closed, assigned to nobody

[2022-08-11 18:56] #173 closed, assigned to nobody

[2022-08-11 18:56] #149 closed, assigned to lostystyg

[2022-08-11 18:57] #147 closed, assigned to lostystyg

[2022-08-11 19:01] #39 closed

[2022-08-11 22:06] andyoknen opened #359 "Split moderator request & register transactions by source type"
## Who has the right to be selected for a jury i.e. where do Moderators come from?

1. First we will create a set of superusers called SuperTops. Their numeric reputation on Bastyon is >1K and they are on the platform for more than 1 year.

So, one third of moderators are SuperTops themselves.

2. Another one-third is appointed by bloggers. Each blogger can appoint moderators in proportion to acti

[2022-08-12 09:00] #313 closed, assigned to only1question, andyoknen

[2022-08-12 11:21] andyoknen opened #365 "Fix infinity lock cs_main in 0.21"
Presumably after the mechanism of clearing mempool transactions

[2022-08-12 11:21] andyoknen commented on #365
Presumably after the mechanism of clearing mempool transactions

[2022-08-12 11:28] andyoknen opened #366 "Try disable txindex in 0.21"
Theoretically, it is no longer needed. All consensus functions that needed to get or check for a transaction must now work with SQLite DB - it no longer makes sense to get a transaction from a Bitcoin database.

[2022-08-12 19:06] andyoknen opened #367 "`First` field in main.Transactions table sqlite db"

[2022-08-12 19:08] andyoknen commented on #367
Adding a "First" label to an object initialization transaction (account, content, or action) can help with complex selections.

For example, for accounts, the "first" entry will help you quickly get the registration date and the presence of a referral.

It is reasonable to add the index "Id"."First" together with the field.

[2022-08-12 19:24] andyoknen commented on #365
Disabling the transaction mempool cleanup logic seems to solve the problem - @tawmaz

https://github.com/pocketnetteam/pocketnet.core/blob/1bbe483aa87ae11ff686ad4eb52905e3aab14400/src/txmempool.h#L671

[2022-08-15 07:40] andyoknen commented on #365
Perhaps the problem is related to an error in processing the new multiblock logic in orphan blocks. After correcting the error, the situation has not been reproduced for several days

[2022-08-17 14:13] lostystyg opened #370 "Notifications summary"
This method should be used to get notification summary for requested addresses with 8 hours depth.
In progress #302.

**Btw**, is "notifications summary" a valid name for this task?

[2022-08-17 15:02] andyoknen commented on #370
I think it quite reflects the essence

[2022-08-19 16:02] #365 closed, assigned to andyoknen

[2022-08-22 13:45] #251 closed, assigned to only1question, andyoknen

[2022-08-24 11:17] lostystyg commented on #280
Some notes for the future improvements.
Divide `money` to default money transfers and Lottery/Coinstake incomings:
  - Lottery:
    - Add a new optional field in shortfrom that will contain vector of outputs that will be used to get money that each user in tx with multiple outputs receives
    - select ScriptPubKey from zero's output to get info about type of incoming money (attach it to whole tx

[2022-08-24 21:18] pocketnetteam opened #383 "test: add this issue to project auto"
This issues must be added to project in auto mode

[2022-08-25 07:38] #383 closed, assigned to nobody

[2022-08-28 13:33] andyoknen commented on #359
### Rules for indexing transactions requests and registrations of moderators

| Type | TX Order |  Id | String1 | String2 | String3 | Last | Result | Error |
| -- | :- | :-: | :-: | :-: | :-: | :-: | :-: | :- |
| REGISTER_CANCEL | 0 | | A | A | | | ❌ | Not exists last register transaction |
| REGISTER_SELF | 1 | 1 | A | A | | 0 | ✅ | |
| REGISTER_SELF | 2 | | A | A | | | ❌ | Already registered |
|

[2022-08-31 07:33] andyoknen opened #387 "API for getting transaction history for an address or a list of addresses"
Necessary filters:
- Incoming
- Outgoing
- Categories:
  - Money
  - Coinstake
  - Social

The structure of objects must be thought out with the calculation of categories and several requested addresses

[2022-08-31 08:12] only1question opened #388 "Mentions in posts and comments"
It is necessary to be able to mention users in posts and comments with subsequent notification of these users.

To do this, we need to expand the payload table with an additional field. This field will contain an array of addresses of those who were mentioned.
In the message text itself there will be special sections with the "@{id}" mask. Where "id" is a serial number from the array of addresses.

[2022-08-31 08:18] only1question opened #389 "Delayed boost transaction"
We need the ability to boost a post that will take effect after a certain period of time

[2022-08-31 09:47] andyoknen opened #390 "Return deleted comments to API methods"
Don't exclude deleted or banned comments. Add 'deleted', 'banned' or 'deleted_author' field to hidden comments.

'deleted_author' - in this case, it is necessary to replace the profile of the author of the comment with the true author, because the transaction of deleting someone else's comment is NOT performed by the author of the comment.

[2022-08-31 10:26] andyoknen opened #391 "Test add issue to project"
This problem should automatically get into the project

[2022-08-31 10:27] andyoknen commented on #391
The automatic addition of the problem to the project has been successfully completed

[2022-08-31 10:27] #391 closed, assigned to nobody

[2022-08-31 11:28] andyoknen opened #392 "Building the macOS installer"

[2022-09-01 15:57] andyoknen opened #395 "Emoji scores"
Develop a scores logic transition to use emojis using only a positive score
The value of "Value" is expanded to N values - each digit will mean a certain emoji
List of emojis to use in scores logic: [GUI #659](https://github.com/pocketnetteam/pocketnet.gui/issues/659)

[2022-09-02 08:41] andyoknen opened #396 "Increased lottery rewards for activity"

[2022-09-02 09:05] andyoknen opened #397 "Calculate the number of content for a tag in the tag search"

[2022-09-02 09:20] andyoknen opened #398 "Trending tags over a time period"

[2022-09-06 20:47] davkastheranger19 opened #400 "SQlite DB size growth"
I'm running two nodes and each has a pocketdb folder size of over 90GB.
Is there any automation we can add to clean up the DBs to keep their size in check?
I see the minimum recommendation is 100GB, but that suggestion may need to be increased if the size is expected to continue to grow. The total size of the pocketcoin folder is 129GB on each of the two nodes.

Thanks

[2022-09-07 07:58] andyoknen commented on #400
Hi! Regarding the documentation, I have made the necessary edits at the moment in README.MD https://github.com/pocketnetteam/pocketnet.core/pull/402

Regarding database compression, there are several options here:
1. manual compression when **the node is stopped**
  You can run the `vacuum;` command via the sql interface to compress the database - This may take several hours and additional disk sp

[2022-09-07 07:59] andyoknen opened #403 "Automatic vacuum sqlite db"
Regarding database compression, there are several options here:
1. manual compression when **the node is stopped**
  You can run the `vacuum;` command via the sql interface to compress the database - This may take several hours and additional disk space for temporary data.
2. automatic during operation
  It would also be possible to do this automatically while the node is running, but this operati

[2022-09-07 08:11] andyoknen opened #404 "Transaction for deleting account"
Develop a transaction to mark the account as deleted.

Provide for the refusal to work with the account if it is deleted.

Prohibit recovery.

[2022-09-15 07:37] only1question opened #409 "Create an API method to get trend tags"
Create an API method to get trend tags.
- Expand the TagsMap table with a height column.
- Implement migration.

[2022-09-15 15:53] HiHat opened #410 "Old node with IP 46.175.122.243 (0.20.19 according to block explorer)"
another user gave the go-ahead to add his ip to the list. 46.175.122.243
Unfortunately, not all users are friends with github, so I will ask people who will give consent, I will write here.

_Originally posted by @gf110 in https://github.com/pocketnetteam/pocketnet.core/issues/194#issuecomment-1046883359_

[2022-09-15 16:03] HiHat commented on #194
@gf110, please notify owner of 46.175.122.243 node about required update to 0.20.26 (currently it have 0.20.19)

[2022-09-16 18:34] #400 closed, assigned to nobody

[2022-09-16 18:35] #398 closed, assigned to andyoknen

[2022-09-20 11:42] only1question opened #420 "Implement search in articles"
Text search not working for articles

Add titles and texts of articles to the web database
Parse JSON for texts

[2022-09-20 11:46] only1question opened #421 "Adding a language field to comments"
Comments payload needs language

In new transactions, add the language to the end of the payload. And check the hash with the language.
In old transactions, fill in the language. Leave the hash without the language.

[2022-09-27 03:43] andyoknen opened #425 "Optimization way 1: database"
## 1. Add new tables:

### Addresses:
[code]

### Blocks:
[code]

### Chain:
[code]

## 2. Migrate database data

1. Change all txid (text) references with `RAWID` (int64) - `StringN -> IntN`
2. Split table `Transactions` -> `Chain`
3. Adaptation of all sql queries for api
4. Adaptation of all sql queries for consensus

## 3. Parallel processing of the transaction acceptance service and the connec

[2022-09-27 03:48] #19 closed

[2022-09-27 03:48] andyoknen commented on #19
#425

[2022-10-07 16:56] Francewhoa opened #430 "Reddit Community Bastyon Placeholder"
Hello Bastyon community :)

I'm new to Bastyon. It's my favourite alternative to Facebook, Twitter, and all social medias.

This is to notify you that, as a volunteer, I created this placeholder Reddit community at https://www.reddit.com/r/Bastyon/ By "placeholder" I mean that I reserved the community name `Bastyon` on Reddit.

Volunteers interested in both Reddit and in maintaining this Reddit co

[2022-10-07 20:02] Francewhoa opened #431 "Using credit card, PKOIN buyer never received code"
Find https://github.com/pocketnetteam/documentation/issues/4

I tried to move this ticket from the repository `documentation` to `pocketnet.core` But found no way to do this from my end.

[2022-10-07 20:04] Francewhoa opened #432 "Users not able to buy PKOIN using credit card"
Find https://github.com/pocketnetteam/documentation/issues/2

I tried to move this ticket from the repository `documentation` to `pocketnet.core` But found no way to do this from my end.

[2022-10-09 23:51] Francewhoa opened #435 "How to edit a published Article?"
## Challenge

About https://bastyon.com I wrote an Article. Published it. Was able to edit it. Then a few days later, when I tried to edit this published Article, its **Edit Post** button is not display. How do I edit this published Article?

Below is the same question as above. But with details if you're interested in those.

## Steps To Reproduce

1. Go to https://bastyon.com/index

1. Using the

[2022-10-10 01:33] Francewhoa opened #436 "Edit published Article"
## **Is your feature request related to a problem? Please describe.**
Somehow, after a period of time, Article (Longread) can no longer be edited. See screenshots and details about this at https://github.com/pocketnetteam/pocketnet.core/issues/435

## **Describe the solution you'd like**
As a user of https://bastyon.com I need to be able to edit my published Articles. Regardless of how long they w

[2022-10-11 17:02] Francewhoa commented on #435
I was able to reproduce this challenge twice. With 2 new Articles. Roughly two days after I published these, their **Edit Post** button is no longer display.

In comparison, for all my comments, their **Edit Comment** button are always visible. Regardless of theses comments publication date.

[2022-10-11 20:39] andyoknen commented on #435
Hello @Francewhoa,
First of all, I want to express my gratitude for your activity and feedback. Unfortunately, the developers are now overloaded and cannot respond more quickly.

Regarding your question, there is a restriction for editing content, which is due to prevent situations when positive content is created, gaining popularity, and after a while the content of the content changes. This can

[2022-10-11 20:51] andyoknen commented on #430
Hi @Francewhoa,

Thank you for your contribution!) I checked your issue and left some comments. I hope for a long cooperation!)

[2022-10-19 17:57] lifeboy opened #441 "Accept payment in PKOIN & buy PKOIN API"
I'm not sure where to ask this so if this is the wrong forum, please point me in the right direction.

We would like to create a voucher interface to allow people to aquire PKOIN wilth cash instead of a credit card.  Is there are an api that we could use to achieve this?  Of course the actual payment will have to be done in some way to whomever the funds for PKOIN should go to.

Of course on the f

[2022-10-19 19:26] andyoknen commented on #441
@lifeboy  An interesting question - I don't understand only the principle of buying for cash. Do you mean something like an exchange office?

[2022-10-19 19:26] #435 closed, assigned to nobody

[2022-10-19 19:27] #436 closed, assigned to nobody

[2022-10-19 19:27] andyoknen commented on #431
Has your problem with IndaCoin been solved?

[2022-10-19 19:28] andyoknen commented on #432
https://github.com/pocketnetteam/pocketnet.core/issues/431

[2022-10-19 19:28] #432 closed, assigned to nobody

[2022-10-19 19:57] lifeboy commented on #441
Yes, there are many people in the world that do not have credit card, but they will use a good crypto currency if it were accessible, so we would like to create an exchange mechanism for that.  See [this example](https://1foryou.com).

[2022-10-23 08:25] andyoknen commented on #441
In your example, payment via credit card is indicated.

I think there are two ways - you can start your node on the network, get coins in your node and use them as an exchange source. This method is used by exchanges for example or IndaCoin.

The second way is to use a JavaScript module that allows you to communicate with the network without your own node. It is made in the form of a plugin and pr

[2022-10-23 14:25] lifeboy commented on #441
I like the idea of running our own node.  That of course depends on the
volume of traffic, storage, memory and processor resources required to do
this, but if would be my first choice and our contribution to make the
network stronger.

You say "get coins in your node and use them as an exchange source".  How
would one "get coins" then?  Are coins mined of how does on get them?

On Sun, 23 Oct 2022

[2022-10-24 09:02] andyoknen commented on #441
If we take IndaCoin as an example, they configure the interface to receive fiat funds and then use the API node to transfer coins to the specified address of the buyer. The API of the node is identical to the API of bitcoin in relation to the wallet.

[2022-10-24 09:18] lifeboy commented on #441
Ok, the picture is becoming clearer to me.

How are the coins generated?  Who generates them?

On Mon, 24 Oct 2022 at 11:02, Andy Oknen ***@***.***> wrote:

[2022-10-25 12:31] andyoknen commented on #441
Hmm, maybe I didn't quite understand the essence of the question. New coins in the blockchain appear due to the so-called emission process. Each block in the network appears 5 coins. Over time, this figure decreases and eventually comes down to zero.

[2022-10-26 13:15] andyoknen commented on #366
#401

[2022-10-26 13:15] #366 closed, assigned to andyoknen, lostystyg

[2022-10-26 13:17] andyoknen commented on #404
#412

[2022-10-26 13:17] #404 closed, assigned to andyoknen

[2022-10-26 17:58] lostystyg commented on #280
The info in the issue is pretty outdated... Need to actualize all descriptions before closing

[2022-10-26 18:06] lostystyg commented on #255
Seems like the only restrictions of the fee is `DEFAULT_TRANSACTION_MAXFEE` which is `COIN/10`. Need to create boost which fee will be bigger to check if there are any problems

[2022-10-28 11:43] andyoknen opened #448 "bug: create sqlite wallet failed if not exists catalog datadir/<wallet_name>"
**Describe the bug**
create sqlite wallet failed if not exists catalog `datadir/<wallet_name>`

**To Reproduce**

**Expected behavior**

[2022-10-28 14:44] #218 closed, assigned to only1question, andyoknen, lostystyg

[2022-10-29 11:01] lostystyg commented on #255
[This tx](https://pocketnet.app/blockexplorer/transaction/eb744adb8337e2f0eba32bc3e77ec1d299e3bad2b0515cecfc7764ca4c8d75eb) was created in electron app with connection to 0.21 node.
<img width="811" alt="image" src="https://user-images.githubusercontent.com/54471935/198827693-38e3c859-d86d-4599-aa62-65fc56acd7f0.png">
No problems occurred.

[2022-11-01 15:36] #254 closed, assigned to lostystyg

[2022-11-03 08:18] lifeboy commented on #441
So who creates the blocks?  Are they created as new posts and content is being posted?

[2022-11-05 11:27] andyoknen commented on #441
Blocks create nodes - every minute all nodes in the network try to create a block that includes all transactions accumulated since the last block. One or more nodes eventually create a block, the network accepts the "best" of them, all nodes in the network must accept or reject the new block. The process repeats.

[2022-11-07 07:30] #255 closed, assigned to lostystyg

[2022-11-09 08:22] andyoknen opened #460 "Urgent release 0.20.28 testing"
Test results for the checkpoint: https://github.com/pocketnetteam/pocketnet.core/releases/tag/0.20.28

[2022-11-19 16:59] davkastheranger19 opened #468 "Segmentation fault (Core Dump)"
Node just crashed with the error "Segmentation Fault (Core Dump)"
Syslog show the error:
coin-staker[1778]: segfault at 8 ip 0000555c3514283d sp 00007f2798821ba0 error 4 in pocketcoind[555c34c37000+b61000]
Code: 48 89 ef e8 65 67 af ff 49 8b 37 48 89 ef e8 1a 0b 04 00 48 8b 44 24 40 4c 8d bc 24 80 00 00 00 48 8d 7c 24 70 4c 89 7c 24 70 <48> 8b 50 08 48 8b 30 48 89 7c 24 28 48 01 f2 e8 af 21 fe ff

[2022-11-19 17:06] americanpatriotdave commented on #468
~# cat /var/log/kern.log

Nov 19 16:30:00 pocketnet-node07 kernel: [177315.826960] show_signal_msg: 21 callbacks suppressed
Nov 19 16:30:00 pocketnet-node07 kernel: [177315.827074] coin-staker[4384]: segfault at 8 ip 000055d020c2d83d sp 00007fb991520c40 error 4 in pocketcoind[55d020722000+b61000]
Nov 19 16:30:00 pocketnet-node07 kernel: [177315.827129] Code: 48 89 ef e8 65 67 af ff 49 8b 37 48 89

[2022-11-19 20:14] #460 closed, assigned to andyoknen

[2022-11-19 20:16] andyoknen commented on #468
Could you give the output result of the command?

[2022-11-19 20:19] andyoknen commented on #468
It also wouldn't hurt to use the debug.log part during node startup to understand how high the blockchain is now

[2022-11-19 23:31] americanpatriotdave commented on #468
~# pocketcoin-cli getmempoolinfo
{
  "size": {
    "memory": 68,
    "sqlite": 1610
  },
  "bytes": 20323,
  "usage": 83088,
  "maxmempool": 300000000,
  "mempoolminfee": 0.00001000,
  "minrelaytxfee": 0.00001000
}

2022-11-19T16:30:00Z Available coins count 361 BestHeader: 1970366 079b5a7d2972cd1f0c4cbb4138da0be4

[2022-11-20 00:54] davkastheranger19 commented on #468
NODE 1
{
  "size": {
    "memory": 11,
    "sqlite": 1135
  },
  "bytes": 4412,
  "usage": 14880,
  "maxmempool": 300000000,
  "mempoolminfee": 0.00001000,
  "minrelaytxfee": 0.00001000
}

NODE 2
{
  "size": {
    "memory": 12,
    "sqlite": 1405
  },
  "bytes": 4844,
  "usage": 16304,
  "maxmempool": 300000000,
  "mempoolminfee": 0.00001000,
  "minrelaytxfee": 0.00001000
}

[2022-11-20 10:13] andyoknen commented on #468
Is the error reproducible? I can assemble a node with additional logging that can help find the cause. I can't reproduce the problem on my nodes..

[2022-11-20 10:19] andyoknen commented on #468
https://github.com/pocketnetteam/pocketnet.core/actions/runs/3507683807

This build is based on 0.20.28 and includes additional logging of the staking process in which an error occurs.

To enable add this line to pocketcoin.conf

[2022-11-20 15:00] americanpatriotdave commented on #468
Running the test build with the debug setting as requested.
installed the .deb package over the stock v0.20.28

Node up and running with all kinds of new (and expected) debug.log entries.
Will keep you posted.

[2022-11-20 15:00] americanpatriotdave commented on #468
The error is not reproducible.  I was able to just bounce pocketcoind and it was running fine again.

[2022-11-20 16:58] andyoknen commented on #468
I will wait - detailed log is needed to catch a transaction that causes failure

[2022-11-21 11:40] andyoknen commented on #441
@lifeboy Is the issue still relevant?

[2022-11-21 11:42] andyoknen commented on #250
@d4rk5eed  Is the issue still relevant?

[2022-11-21 11:42] andyoknen commented on #216
@metacreo Is the issue still relevant?

[2022-11-21 11:50] lifeboy commented on #441
I think we can close it for now, we are not yet at the stage were we need
to implement.

On Mon, 21 Nov 2022 at 13:40, Andy Oknen ***@***.***> wrote:

[2022-11-21 11:56] andyoknen commented on #441
In general, we can continue the dialogue here if you have any questions. Or you can create a new Issue for any other issue that we can discuss.